/***** General Styles *****/

.clearfix {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}

.c-1 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-1 img {
    max-width: 100%;
}

.c-2 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-2 img {
    max-width: 100%;
}

.c-3 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-3 img {
    max-width: 100%;
}

.c-4 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-4 img {
    max-width: 100%;
}

.c-5 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-5 img {
    max-width: 100%;
}

.c-6 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-6 img {
    max-width: 100%;
}

.c-7 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-7 img {
    max-width: 100%;
}

.c-8 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-8 img {
    max-width: 100%;
}

.c-9 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-9 img {
    max-width: 100%;
}

.c-10 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-10 img {
    max-width: 100%;
}

.c-11 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-11 img {
    max-width: 100%;
}

.c-12 {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.c-12 img {
    max-width: 100%;
}

.c-6 {
    width: 49%;
}

.c-4 {
    width: 20%;
}

.c-8 {
    width: 75%;
}

.c-9 {
    width: 40%;
}

.rate-btn,
.support-btn,
.envato-btn {
    box-shadow: none !important;
    border: 0 !important;
    padding: 5px 20px !important;
    height: auto !important;
    margin: 5px 5px 0 0 !important;
    font-size: 13px !important;
    text-shadow: none !important;
    text-transform: uppercase;
    font-weight: 500;
}

.envato-btn {
    background: #82b440 !important;
}

p.important-box {
    margin-top: 40px;
    padding: 40px;
    color: #666;
    background: #f1f1f1;
}

span.success-icon {
    width: 130px;
    height: 130px;
    display: block;
    margin: 0 auto;
    background: url(../img/check.png);
    background-size: cover;
}

.loader {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    z-index: 5;
    visibility: hidden;
}

.loader.loading {
    visibility: visible;
}

.loader .circle {
    position: absolute;
    left: 0;
    margin: auto;
    width: 14px;
    height: 14px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ccc;
}

.loader .circle:before {
    content: "";
    width: 7px;
    height: 7px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: green;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -moz-animation: circle 1.4s linear infinite;
    -webkit-animation: circle 1.4s linear infinite;
    animation: circle 1.4s linear infinite;
}

@-webkit-keyframes circle {
    from {
        -moz-transform: rotate(0deg) translate(-9px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-9px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-9px) rotate(0deg);
        transform: rotate(0deg) translate(-9px) rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        transform: rotate(360deg) translate(-9px) rotate(-360deg);
    }
}

@-moz-keyframes circle {
    from {
        -moz-transform: rotate(0deg) translate(-9px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-9px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-9px) rotate(0deg);
        transform: rotate(0deg) translate(-9px) rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        transform: rotate(360deg) translate(-9px) rotate(-360deg);
    }
}

@-o-keyframes circle {
    from {
        -moz-transform: rotate(0deg) translate(-9px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-9px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-9px) rotate(0deg);
        transform: rotate(0deg) translate(-9px) rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        transform: rotate(360deg) translate(-9px) rotate(-360deg);
    }
}

@keyframes circle {
    from {
        -moz-transform: rotate(0deg) translate(-9px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-9px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-9px) rotate(0deg);
        transform: rotate(0deg) translate(-9px) rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-9px) rotate(-360deg);
        transform: rotate(360deg) translate(-9px) rotate(-360deg);
    }
}

@-webkit-keyframes fade-in-out {
    from {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    to {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}

@-moz-keyframes fade-in-out {
    from {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    to {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}

@-o-keyframes fade-in-out {
    from {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    to {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}

@keyframes fade-in-out {
    from {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    to {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}


/***** Admin Tabs *****/

.cocoon-tabs ul {
    position: relative;
    padding-left: 12px;
    padding-top: 10px;
    margin-bottom: 6px;
}

.cocoon-tabs ul:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.cocoon-tabs ul li {
    display: inline-block;
    padding: 8px 11px 10px 11px;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ccc;
    margin-left: 6px;
    margin-bottom: 0px;
    position: relative;
    background: #f1f1f1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.cocoon-tabs ul li.active {
    border-bottom-color: #f1f1f1;
}

.cocoon-tabs ul li a {
    color: #000;
    text-decoration: none;
}


/* Header */

.cocoon-start-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.cocoon-start-header .theme_preview {
    position: relative;
}

.cocoon-start-header .theme_preview .ves {
    position: absolute;
    bottom: 4px;
    padding: 5px 0px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
}

.cocoon-start-header p {
    font-size: 14px;
}


/* Content */

.cocoon-start-content {
    max-width: 992px;
    font-size: 14px;
}

.cocoon-start-content p {
    font-size: 14px;
}

.cocoon-start-content .nav-tab-wrapper {
    border-bottom-width: 0px;
}

.cocoon-start-content .nav-tab {
    padding: 12px 18px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-left: 12px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.cocoon-start-content .nav-tab:focus {
    outline: none;
    box-shadow: none;
    background: #e5e5e5;
}

.cocoon-start-content .nav-tab.nav-tab-active {
    background: #fff;
    border-bottom-width: 0px;
}

.cocoon-start-content .nav-content {
    display: none;
    padding: 30px 30px 40px 30px;
    margin-left: 12px;
    margin-right: 12px;
    background: #fff;
    border: 1px solid #f1f1f1;
}

.cocoon-start-content .nav-content.current {
    display: block;
}

.cocoon-start-content .notic {
    font-weight: bold;
    margin-bottom: 10px;
    background: #f1f1f1;
    padding-left: 10px;
    padding: 2px 12px;
}

.cocoon-start-content .notic p {
    font-weight: normal;
    font-size: 14px;
}

.cocoon-start-content .notic.notic-warning {
    border-left: 4px solid orange;
}

.cocoon-start-content .notic.notic-success {
    border-left: 4px solid lightgreen;
}

.cocoon-start-content .widefat {
    padding: 14px 5px;
    max-width: calc(100% - 100px);
    float: left;
    margin-right: 10px;
}

.cocoon-start-content .submit {
    margin: 0px;
    padding: 0px;
}

.cocoon-start-content .submit input {
    padding: 22px 21px;
    line-height: 0px;
}

.cocoon-start-content .tgmpa.wrap {
    margin-top: 0px;
}

.cocoon-start-content .tgmpa.wrap .subsubsub {
    float: none;
}

.cocoon-start-content .tgmpa.wrap .wp-list-table {
    max-width: 100%;
    float: none;
}

.cocoon-start-content .tgmpa.wrap .tablenav {
    margin: 10px 0px;
}


/***** Import Form *****/

#cocoon_import_form.disabled .c-8 {
    position: relative;
}

#cocoon_import_form.disabled .c-8:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
}

#cocoon_import_form.disabled .radio-list li:hover {
    cursor: not-allowed;
}

#cocoon_import_form.disabled .radio-list li .radio-option {
    background: #f1f1f1;
}

#cocoon_import_form.disabled .panel-save.button-primary {
    box-shadow: none;
    background: #ccc;
    border-width: 0px;
    text-shadow: none;
    color: #111;
    outline: none;
}

#cocoon_import_form.disabled .panel-save.button-primary:hover {
    cursor: not-allowed;
}

ul.radio-list li {
    list-style-type: none;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #f5f5f5;
}

ul.radio-list li:last-child {
    border-bottom: 0px;
}

ul.radio-list li:hover {
    cursor: pointer;
}

ul.radio-list li.loading .loader {
    visibility: visible;
}

ul.radio-list li.loading .radio-option {
    visibility: hidden;
}

ul.radio-list li.done .radio-option {
    background: none !important;
    border-width: 0px;
}

ul.radio-list li.click .radio-option {
    z-index: 1;
}

ul.radio-list li.click .radio-option .checkmark .checkmark_kick {
    min-width: 6px;
}

ul.radio-list li.click .radio-option .checkmark .checkmark_stem {
    min-height: 11px;
}

ul.radio-list li.disable:hover {
    cursor: not-allowed;
}

ul.radio-list li.disable .radio-option {
    background: #f1f1f1;
}

ul.radio-list li.disable .radio-option:hover {
    cursor: not-allowed;
}

ul.radio-list .radio-option {
    float: left;
    cursor: pointer;
    height: 18px;
    width: 18px;
    background: #fff;
    margin-right: 8px;
    border: 2px solid #d8d8d8;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    position: relative;
}

.checkmark {
    display: inline-block;
    width: 28px;
    height: 12px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width: 3px;
    min-height: 0px;
    background-color: green;
    left: 11px;
    top: 3px;
}

.checkmark_kick {
    position: absolute;
    min-width: 0px;
    height: 3px;
    background-color: green;
    left: 8px;
    top: 12px;
}

.checkmark_stem {
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.checkmark_kick {
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}


/* Requirements */

.table-php-requirements-container {
    margin-bottom: 30px;
    padding: 15px 15px 30px 15px;
    background: #f9f9f9;
}

.table-php-requirements-container table {
    width: 100%;
}

.table-php-requirements-container table tr {
    margin-bottom: 8px;
    text-align: left;
}

.table-php-requirements-container table tr.spacer {
    display: block;
}

.table-php-requirements-container table td.ok:before,
.table-php-requirements-container table td.notok:before {
    content: "";
    position: relative;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.table-php-requirements-container table td.ok:before {
    background: lightgreen;
}

.table-php-requirements-container table td.notok:before {
    background: red;
}


/* Plugins */

.envato-wizard-plugins {
    margin: 20px 0px;
}

.envato-wizard-plugins .checkmark.green .checkmark_stem {
    min-height: 11px;
}

.envato-wizard-plugins .checkmark.green .checkmark_kick {
    min-width: 6px;
}

.envato-wizard-plugins li {
    list-style: circle;
    list-style-position: inside;
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
    position: relative;
}

.envato-wizard-plugins li span {
    font-size: 9.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 6px;
}

.envato-wizard-plugins li span.green {
    color: green;
}

.envato-wizard-plugins li .loader,
.envato-wizard-plugins li .checkmark {
    width: 20px;
    height: 20px;
    float: right;
    background: none;
    position: absolute;
    right: 0;
}

.panel-save.button-primary {
    height: 50px;
    padding: 11px 34px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/**** System Status ****/

#cocoon-system-status .section h3 {
    background: #f1f1f1;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 60px;
    margin-bottom: 20px;
}

#cocoon-system-status .section:first-child h3 {
    margin-top: 40px;
}

#cocoon-system-status span.red {
    background: red;
}

#cocoon-system-status span.green {
    background: lightgreen;
}

#cocoon-system-status span.green,
#cocoon-system-status span.red {
    width: 9px;
    height: 9px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

#cocoon-system-status .section div {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre-line;
    padding: 10px;
}
