/*
	Theme Name: Cocoon
    Theme URI: http://themeforest.net/user/gnodesign/portfolio/
    Description: Cocoon is a Modern Multi Purpose WooCommerce WordPress Theme.
    Author: Gnodesign
	Author URI: http://themeforest.net/user/gnodesign/
    Version: 1.0.1
	License: ThemeForest
    License URI: http://themeforest.net/licenses
    Tags: blog, two-columns, left-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-logo, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, threaded-comments, translation-ready
    Text Domain: cocoon
    Domain Path: /lang/
*/

/*------------------------------------------------------------------
[Table of contents]


1.  HEADERS - NAVIGATIONS
    1.1.    HEADER VERSION 1
    1.2.    NAVIGATION
    1.3.    DROPDOWN MENU
    1.4.    DROPDOWN SUBMENU
    1.5.    MEGA MENU
    1.6.    MENU ITEMS BADGES
    1.7.    EXTRA MENU
    1.8.    MOBILE HAMBURGER MENU

2. FOOTERS
    2.1.    DARK SKIN
    2.2.    LIGHT SKIN

3. PAGE HEADERS

4.  BLOG
    4.1.    BLOG LISTING
    4.2.    SINGLE BLOG POST
    4.3.    BLOG POST NAVIGATION
    4.4.    COMMENTS

5.  ELEMENTS
    5.1.    BUTTONS
        5.1.1.  GENERAL BUTTONS
        5.1.2.  BACK TO TOP BUTTON
        5.1.3.  SOCIAL MEDIA BUTTONS
    5.2.    PRICING TABLES
        5.2.1.  VERSION 1
        5.2.2.  VERSION 2
    5.3.    VIDEO MODAL
    5.4.    COUNT DOWN
    5.5.    COUNTER
    5.6.    ICON BOX
    5.7.    PHOTO GALLERY
    5.8.    NEWSLETTER
    5.9.    VC ELEMENTS OVERRIDES
    5.10.   PRELOADER
    5.11.   OFF CANVAS
    5.12.   BANNERS
    5.13.   TESTIMONIALS
    5.14.   BLOG POSTS
    5.15.   LOGO CAROUSEL


-------------------------------------------------------------------*/

/* --------------------------------------
    1. Headers - Navigation
-------------------------------------- */

/*********** 1.1 Version 1 *************/

header.header1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    z-index: 100;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

header.header1.header-fixed {
    position: fixed;
    background: #fff;
    padding: 0;
    border: 0 !important;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}

.admin-bar header.header1.header-fixed {
    top: 32px;
}

header.header1 .navbar-brand .logo {
    display: none;
}

header.header1 .navbar-brand .logo-white {
    display: block;
}

header.header1.header-fixed .navbar-brand .logo,
header.header1.header-dark-text .navbar-brand .logo {
    display: block;
}

header.header1.header-fixed .navbar-brand .logo-white,
header.header1.header-dark-text .navbar-brand .logo-white {
    display: none;
}

header.header1 .navbar h1.logo a {
    color: #fff;
}

header.header1.header-fixed .navbar h1.logo a {
    color: #252525;
}

/* General Search Form */

header.header1 .general-search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #fff;
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

header.header1 .general-search-wrapper.open {
    opacity: 1;
    visibility: visible;
}

header.header1 .general-search-wrapper .general-search {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

header.header1 .general-search-wrapper .general-search input {
    height: 60px;
    border: 0;
    font-size: 20px;
}

header.header1 .general-search-wrapper .general-search .toggle-search {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
    line-height: 60px;
    cursor: pointer;
    color: #1f1f1f;
    opacity: .4;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

header.header1 .general-search-wrapper .general-search .toggle-search:hover {
    opacity: 1;
}

/* Search Results */

header.header1 .general-search-wrapper .search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

header.header1 .general-search-wrapper .search-results ul {
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid #e3e3e3;
}

header.header1 .general-search-wrapper .search-results ul::-webkit-scrollbar {
    display: none;
}

header.header1 .general-search-wrapper .search-results ul li {
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #e3e3e3;
    border-top: none;
    list-style: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

header.header1 .general-search-wrapper .search-results ul li:hover {
    background: #f6f6f6;
}

header.header1 .general-search-wrapper .search-results ul li .search-item {
    display: flex;
    align-items: center;
    white-space: inherit;
    color: #252525;
}

header.header1 .general-search-wrapper .search-results ul li .search-item img {
    width: 70px;
    float: left;
    margin-right: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

header.header1 .general-search-wrapper .search-results ul li .search-item .title {
    line-height: 1.3;
}

header.header1 .general-search-wrapper .search-results .loading {
    opacity: 0;
    display: none;
    font-size: 26px;
    background: #fff;
    padding: 15px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

header.header1 .general-search-wrapper.searching .loading {
    opacity: 1;
    display: block;
}

header.header1 .general-search-wrapper .search-results .woocommerce {
    display: none;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

header.header1 .general-search-wrapper.found-products .search-results .woocommerce {
    opacity: 1;
    visibility: visible;
}

/*********** 1.2 Navigation *************/

header.header1 .navbar {
    padding-left: 0;
    padding-right: 0;
}

header.header1 .navbar-nav .nav-item {
    margin: 0;
    padding: 0 10px;
}

header.header1 .navbar-nav .nav-link,
header.header1 .extra-nav li a {
    color: #fff;
    line-height: 37px;
}

header.header1.header-fixed .navbar-nav .nav-link,
header.header1.header-fixed .extra-nav li a,
header.header1.header-dark-text .navbar-nav .nav-link,
header.header1.header-dark-text .extra-nav li a {
    color: #1f1f1f;
}

header.header1 .navbar-nav .active .nav-link,
header.header1 .navbar-nav .nav-link:hover,
header.header1.header-fixed .navbar-nav .active .nav-link {
    color: inherit;
}

header.header1 .navbar-nav .nav-item .login-btn i {
    margin-right: 10px;
}

header.header1 .navbar-nav .nav-item.notification-wrapper {
    position: relative;
}


/*********** 1.3 Dropdown Menu *************/

header.header1 #main-nav .navbar-nav > .dropdown .dropdown-toggle:after {
    content: '\f107';
    font-family: 'fontawesome';
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: inline-block;
    border: 0;
    margin: 0;
    padding-left: 5px;
    vertical-align: 0;
}

header.header1 #main-nav .navbar-nav .dropdown .dropdown-menu {
    position: absolute;
    display: block;
    top: 100%;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    margin-left: -15px;
    z-index: 100;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
    -webikt-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

header.header1 #main-nav .navbar-nav .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    width: 200px;
    top: 80%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

header.header1 #main-nav .navbar-nav .dropdown-menu > li {
    position: relative;
    margin: 0;
}

header.header1 #main-nav .navbar-nav .dropdown-menu > li > a {
    padding: 5px 20px;
    background: none;
    text-transform: capitalize;
    line-height: 1.4;
    color: #1f1f1f;
}

header.header1 #main-nav .navbar-nav .dropdown-menu > li > a:focus,
header.header1 #main-nav .navbar-nav .dropdown-menu > li > a:hover {
    background: none;
}

header.header1 #main-nav .navbar-nav .dropdown-menu > li > a:hover {}

header.header1 .extra-nav li.loggedin a.login-btn {
    line-height: 1;
    margin-top: 2px;
}

/*********** 1.4 Dropdown Submenu *************/

header.header1 #main-nav .navbar-nav .dropdown .dropdown-menu li .dropdown-toggle:after {
    content: '\f105' !important;
}

header.header1 #main-nav .navbar-nav .dropdown .dropdown-menu li .sub-menu {
    position: absolute;
    top: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: -5px 0 20px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -5px 0 20px rgba(0, 0, 0, 0.15);
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

header.header1 #main-nav .navbar-nav .dropdown .dropdown-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
    -ms-transform: translateX(90%);
    -o-transform: translateX(90%);
    transform: translateX(90%);
}


/*********** 1.5 Mega Menu *************/

header.header1 #main-nav .navbar-nav .mega-menu {
    position: static !important;
}

header.header1 #main-nav .navbar-nav .mega-menu .dropdown-menu {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
}

/* Mega Menu - Sub Menu */

#main-nav .navbar-nav .mega-menu .dropdown-menu .mega-menu-inner .menu-item-mega a {
    font-weight: 500 !important;
}

#main-nav .navbar-nav .mega-menu .dropdown-menu .mega-menu-inner .menu-item-mega a:after {
    display: none;
}

#main-nav .navbar-nav .mega-menu .dropdown-menu:hover .mega-menu-inner .menu-item-mega .sub-menu {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

#main-nav .navbar-nav .mega-menu .dropdown-menu .mega-menu-inner .menu-item-mega .sub-menu {
    position: relative;
    border-top: 1px solid #e3e3e3;
    padding: 10px 0;
    list-style: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}


header.header1 #main-nav .navbar-nav .dropdown:hover .dropdown-menu .mega-menu-inner .menu-item-mega .sub-menu {
    visibility: visible;
    opacity: 1;
}

#main-nav .navbar-nav .mega-menu .dropdown-menu .mega-menu-inner .menu-item-mega .sub-menu li {
    padding: 0;
}

#main-nav .navbar-nav .mega-menu .dropdown-menu .mega-menu-inner .menu-item-mega .sub-menu a {
    color: #948a99;
}

/*********** 1.6 Menu Items Badges *************/

#main-nav .navbar-nav .dropdown-menu > li > a .items-badge span,
#main-nav .navbar-nav .mega-menu .dropdown-menu .mega-menu-inner .menu-item-mega a .items-badge span {
    font-size: 11px;
    font-weight: 500;
    text-transform: lowercase;
    color: #fff;
    padding: 2px 7px;
    margin-left: 7px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#main-nav .navbar-nav .dropdown-menu > li > a .items-badge .new-badge,
#main-nav .navbar-nav .mega-menu .dropdown-menu .mega-menu-inner .menu-item-mega a .items-badge .new-badge {
    background: #2cd47f;
}

#main-nav .navbar-nav .dropdown-menu > li > a .items-badge .hot-badge,
#main-nav .navbar-nav .mega-menu .dropdown-menu .mega-menu-inner .menu-item-mega a .items-badge .hot-badge {
    background: #f35656;
}

#main-nav .navbar-nav .dropdown-menu > li > a .items-badge .trending-badge,
#main-nav .navbar-nav .mega-menu .dropdown-menu .mega-menu-inner .menu-item-mega a .items-badge .trending-badge {
    background: #4284fc;
}


/*********** 1.7 Extra Menu *************/

header.header1 .extra-nav .nav-item {
    padding: 0 8px 0 0;
}

header.header1 .extra-nav .nav-item i {
    font-size: 18px;
}

header.header1 .extra-nav .menu-item-wishlist a,
header.header1 .extra-nav .menu-item-cart a {
    position: relative;
}

header.header1 .extra-nav .menu-item-wishlist .notification-count,
header.header1 .extra-nav .menu-item-cart .notification-count {
    position: absolute;
    display: block;
    right: 1px;
    bottom: 13px;
    height: 15px;
    min-width: 15px;
    line-height: 15px;
    padding: 0 5px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
    font-size: 8px;
}

header.header1 .extra-nav .menu-item-account.loggedin img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

/* Mobile Cart Menu Item */

header.header1.header-fixed a.mobile-cart,
header.header1.header-dark-text a.mobile-cart {
    color: #1f1f1f;
}

a.mobile-cart {
    display: none;
    position: absolute;
    right: 50px;
    font-size: 30px;
    color: #fff;
}

header.header1 a.mobile-cart .notification-count {
    position: absolute;
    display: block;
    right: -6px;
    bottom: 5px;
    height: 20px;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    background: #22a3a4;
}

/*********** 1.8 Mobile Hamburger Menu *************/

.hamburger {
    padding: 0;
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger-box {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

header.header1 .hamburger-inner,
header.header1 .hamburger-inner::before,
header.header1 .hamburger-inner::after {
    background: #fff;
}

header.header1.header-fixed .hamburger-inner,
header.header1.header-fixed .hamburger-inner::before,
header.header1.header-fixed .hamburger-inner::after,
header.header1.header-dark-text .hamburger-inner,
header.header1.header-dark-text .hamburger-inner::before,
header.header1.header-dark-text .hamburger-inner::after {
    background: #1f1f1f;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}



/* --------------------------------------
    2. FOOTER
-------------------------------------- */

footer.footer1 .footer-widget-area {
    padding: 50px 0 100px 0;
}

footer.footer1 .footer-widget-area .footer-widget {
    padding-top: 30px;
    margin: 0;
}

footer.footer1 .footer-widget-area .footer-widget:first-child {
    padding-top: 50px;
}

footer.footer1 .footer-copyright-area .social-btn-roll {
    border: 1px solid transparent;
    background: none;
    color: inherit;
}

footer.footer1 .footer-widget-area .footer-widget a {
    color: #948a99;
}

/*********** 2.1 Dark Skin *************/

footer.footer1.dark-skin {
    background: #252525;
}

footer.footer1.dark-skin .widget-title {
    color: #fff;
}

footer.footer1.dark-skin .footer-copyright-area {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

/*********** 2.2 Light Skin *************/

footer.footer1.light-skin {
    background: #fbfbfb;
}

footer.footer1.light-skin .footer-copyright-area {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

footer.footer1.light-skin .social-btn-roll:hover .social-btn-roll-icon {
    color: #252525;
}

/* --------------------------------------
    3. Page Headers
-------------------------------------- */

section.page-header {
    height: 500px;
    color: #fff;
}

section.page-header .container,
section.page-header .row {
    height: 100%;
}

section.page-header .title {
    margin: 0;
    color: #fff;
    text-transform: capitalize;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

section.page-header .subtitle {
    margin: 0;
    color: #fff;
    opacity: .8;
}

section.page-header nav.breadcrumbs {
    margin-top: 5px;
    font-size: 14px;
}

section.page-header nav.breadcrumbs a {
    color: #fff;
}

section.page-header nav.breadcrumbs a:after {
    content: "/";
    padding-left: 7px;
    color: #fff;
}

/* --------------------------------------
    4. Blog
-------------------------------------- */

/*********** 4.1 Blog Listings *************/

article.blog-post {
    margin-bottom: 50px;
    background: 0 0;
    padding: 0;
    padding-bottom: 60px;
    font-size: inherit;
    margin-right: 10px;
    border-bottom: 1px solid #e5e7f2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

article.blog-post.sticky {
    position: relative;
    border: 1px dashed #e3e3e3;
    padding: 50px;
    background: #fbfbfb;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

article.blog-post.sticky:hover {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
}

article.blog-post .blog-post-title {
    text-transform: capitalize;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-top: 0;
}

article.blog-post .blog-post-title a {
    color:  inherit;
}

article.blog-post .blog-thumbnail img,
article.blog-post-content .blog-thumbnail img {
    width: 100%;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

article.blog-post .blog-thumbnail img.vertical-image,
article.blog-post-content .blog-thumbnail img.vertical-image {
    width: auto !important;
    margin: 0 auto;
    display: block;
}

/* Gallery Post */

article.blog-post .gallery-post-wrapper .owl-item,
article.blog-post-content .owl-carousel .owl-item {
    height: 350px;
    overflow: hidden;
}

article.blog-post .gallery-post-wrapper .owl-item .item,
article.blog-post-content .owl-carousel .owl-item .item {
    height: 100%;
}

article.blog-post .gallery-post-wrapper .owl-item .item img,
article.blog-post-content .owl-carousel .owl-item .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article.blog-post .gallery-post-wrapper .owl-carousel .owl-stage-outer,
article.blog-post-content .owl-carousel .owl-stage-outer {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.gallery-post .owl-nav {
    position: absolute;
    top: 155px;
    left: 0;
    right: 0;
}

.gallery-post .owl-nav button {
    width: 40px;
    height: 40px;
    background: #fff !important;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -ms-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.gallery-post:hover .owl-nav button {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.gallery-post .owl-nav button.owl-prev {
    float: left;
    margin-left: 20px;
}

.gallery-post .owl-nav button.owl-next {
    float: right;
    margin-right: 20px;
}

.gallery-post .owl-nav button.owl-prev span,
.gallery-post .owl-nav button.owl-next span {
    display: none;
    font-size: 24px;
    line-height: 40px;
}

/* Audio Post */

article.blog-post .audio-wrapper iframe,
article.blog-post-content .audio-wrapper iframe {
    width: 100%;
    border: 0;
}

/* Quote Post */

article.blog-post-quote {
    color: #fff;
    text-align: center;
}

article.blog-post-quote figure {
    margin: 0;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

article.blog-post-quote blockquote {
    margin: 0;
    padding: 30px;
    border: 0;
}

article.blog-post-quote blockquote .quote,
article.blog-post-quote blockquote .author {
    color: #fff;
}

article.blog-post-quote blockquote .author {
    padding-top: 10px;
}

/* Entry Meta */

.entry-meta {
    margin-bottom: 30px;
}

.entry-meta > span {
    padding: 0 10px;
    position: relative;
    font-size: 14px;
}

.entry-meta > span:before {
    content: '';
    width: 1px;
    height: 14px;
    background: #e5e7f2;
    position: absolute;
    left: 0;
    top: 2px;
}

.entry-meta span:first-child {
    padding-left: 0;
}

.entry-meta span:first-child:before {
    display: none;
}

.entry-meta > span i {
    margin-right: 7px;
}

.entry-meta > span a {
    color: #252525;
}


/*********** 4.2 Single Blog Post *************/

article.blog-post-content .blog-thumbnail {
    margin-bottom: 30px;
}



/*********** 4.3 Blog Post Comments *************/

section.comments {
    padding: 0;
    margin-top: 50px;
}

section.comments .comment-form .logged-in-as {
    margin: 0;
    padding: 20px 0;
}

section.comments .comment-form .logged-in-as a {
    color:  #252525;
}

.comments > h4 {
    text-transform: capitalize;
}

.comments .comment-list {
    list-style: none;
    padding: 0;
    margin: 30px 30px 50px 0;
}

.bypostauthor {
    opacity: 1;
}

.comment-reply-title {
    margin: 0;
}

.comments .comment-list > .comment {
    margin: 0;
}


.comments .comment-list .commenter-avatar {
    position: relative;
    width: 65px;
    height: 65px;
    margin-right: 30px;
}

.comments .comment-list .commenter-avatar:before {
    content: '';
    display: block;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    z-index: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: .15;
}

.comments .comment-list .commenter-avatar:after {
    content: '';
    display: block;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    z-index: 0;
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: .1;
}

.comments .comment-list .commenter-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
}

.comments .comment-list .comment-content h6 {
    text-transform: capitalize;
    padding-bottom: 5px;
    margin: 0;
}

.comments .comment-list .comment-content .comment-info {
    padding-bottom: 30px;
}

.comments .comment-list .comment-content span.date {
    font-size: 14px;
    color: #999;
}

/* Comment Replies */

.comments .comment-list .children {
    list-style: none;
}

.comment-respond small {
    font-size: 14px;
}

/* Comment Pingback */

.comments ul li.pingback {
    display: block;
    margin: 0 0 20px 0;
    position: relative;
    border-bottom: 1px solid #eee;
}


/* Comment Navigation */

nav.comment-navigation .comment-navigation-title {
    display: none;
}

nav.comment-navigation .nav-previous {
    float: right;
}

nav.comment-navigation .nav-next {
    float: left;
}


/* Comment Form */

.comment-form textarea {
    resize: none;
}

.comments .comment-list div.comment {
    border: 1px dashed #e3e3e3;
    padding: 30px;
    margin-bottom: 30px;
}


/* ----------------------------------------------------------------------------
    5. ELEMENTS
---------------------------------------------------------------------------- */

/* --------------------------------------
    5.1 Buttons
-------------------------------------- */

/*********** 5.1.1 General Buttons *************/

.btn {
    color: #fff;
    min-width: 160px;
    text-align: center;
    border: 0;
    padding: 15px 25px;
    line-height: 1;
    z-index: 1;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.btn:hover {
    color: #fff;
    -webkit-transform: translate3d(0, -3px, 0);
    -moz-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

.btn:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-large {
    padding: 20px 25px;
    min-width: 200px;
}

.btn-small {
    padding: 10px 25px;
    min-width: 120px;
}

.btn-round {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.btn-border {
    border: 2px solid;
}

.btn-border.btn-main,
.btn-border.btn-dark {
    background: none;
}

.btn-border.btn-main:hover,
.btn-border.btn-dark:hover {
    color: #fff;
}

.btn-border.btn-dark {
    color: #252525;
}

.btn-border.btn-dark:hover {
    background: #252525;
}



/*********** 5.1.2 Back To Top Button *************/

#backtotop {
    position: fixed;
    right: 0;
    opacity: 0;
    visibility: hidden;
    bottom: 25px;
    right: 25px;
    z-index: 999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
}

#backtotop.visible:hover {
    -webkit-transform: scale(1) translate3d(0, -3px, 0);
    -moz-transform: scale(1) translate3d(0, -3px, 0);
    -ms-transform: scale(1) translate3d(0, -3px, 0);
    -o-transform: scale(1) translate3d(0, -3px, 0);
    transform: scale(1) translate3d(0, -3px, 0);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

#backtotop.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#backtotop a {
    color: #fff;
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 46px;
    height: 46px;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    font-size: 26px;
}

#backtotop a:after {
    content: "\f106";
    font-family: "FontAwesome";
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -o-transform: translateY(-55%);
    transform: translateY(-55%);
}

/*********** 5.1.3 Social Buttons *************/

ul.social-btns {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.social-btns li {
    display: inline-block;
    margin: 0 10px 0 0;
}

ul.social-btns li:last-child {
    margin: 0;
}

.social-btn-roll {
    width: 35px;
    height: 35px;
    border: 1px solid #3b5998;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.social-btn-roll:hover .social-btn-roll-icons {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.social-btn-roll:hover .social-btn-roll-icon {
    color: #f6f6f6;
}

.social-btn-roll-icons {
    width: 200%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.social-btn-roll-icon {
    width: 50%;
    line-height: 35px !important;
    text-align: center;
    display: block;
    float: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*** Blog Share Buttons ***/

.social-sharing-wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

ul.social-share-btns {
    padding: 0;
    list-style: none;
    float: left;
    clear: both;
}

ul.social-share-btns li {
    display: inline-block;
    margin: 0 10px 10px 0;
}

ul.social-share-btns li .social-share-btn {
    min-width: 130px;
    padding: 10px 20px;
}


/*** ====== Social Media Button Colors ====== ***/

.social-btn-roll.facebook {
    border-color: #3b5998;
    color: #3b5998;
}

.social-btn-roll.facebook:hover,
.social-share-btn.facebook {
    background: #3b5998;
}

.social-btn-roll.twitter {
    border-color: #4cc4f2;
    color: #4cc4f2;
}

.social-btn-roll.twitter:hover,
.social-share-btn.twitter {
    background: #4cc4f2;
}

.social-btn-roll.google-plus {
    border-color: #dd4b39;
    color: #dd4b39;
}

.social-btn-roll.google-plus:hover,
.social-share-btn.google-plus {
    background: #dd4b39;
}

.social-btn-roll.instagram {
    border-color: #9b6954;
    color: #9b6954;
}

.social-btn-roll.instagram:hover {
    background: #9b6954;
}

.social-btn-roll.linkedin {
    border-color: #0077b5;
    color: #0077b5;
}

.social-btn-roll.linkedin:hover,
.social-share-btn.linkedin {
    background: #0077b5;
}

.social-btn-roll.rss {
    border-color: #ffa500;
    color: #ffa500;
}

.social-btn-roll.rss:hover {
    background: #ffa500;
}

.social-btn-roll.pinterest {
    border-color: #cb2027;
    color: #cb2027;
}

.social-btn-roll.pinterest:hover {
    background: #cb2027;
}

.social-btn-roll.tumblr {
    border-color: #32506d;
    color: #32506d;
}

.social-btn-roll.tumblr:hover {
    background: #32506d;
}

.social-btn-roll.github {
    border-color: #171515;
    color: #171515;
}

.social-btn-roll.github:hover {
    background: #171515;
}

.social-btn-roll.dribbble {
    border-color: #ec4a89;
    color: #ec4a89;
}

.social-btn-roll.dribbble:hover {
    background: #ec4a89;
}

.social-btn-roll.wordpress {
    border-color: #16a0ce;
    color: #16a0ce;
}

.social-btn-roll.wordpress:hover {
    background: #16a0ce;
}

.social-btn-roll.amazon {
    border-color: #ffa500;
    color: #ffa500;
}

.social-btn-roll.amazon:hover {
    background: #ffa500;
}

.social-btn-roll.dropbox {
    border-color: #007ee5;
    color: #007ee5;
}

.social-btn-roll.dropbox:hover {
    background: #007ee5;
}

.social-btn-roll.paypal {
    border-color: #03268c;
    color: #03268c;
}

.social-btn-roll.paypal:hover {
    background: #03268c;
}

.social-btn-roll.yahoo {
    border-color: #420294;
    color: #420294;
}

.social-btn-roll.yahoo:hover {
    background: #420294;
}

.social-btn-roll.flickr {
    border-color: #fd0d7e;
    color: #fd0d7e;
}

.social-btn-roll.flickr:hover {
    background: #fd0d7e;
}

.social-btn-roll.reddit {
    border-color: #ff4006;
    color: #ff4006;
}

.social-btn-roll.reddit:hover {
    background: #ff4006;
}

.social-btn-roll.vimeo {
    border-color: #63b4e4;
    color: #63b4e4;
}

.social-btn-roll.vimeo:hover {
    background: #63b4e4;
}

.social-btn-roll.spotify {
    border-color: #1dd069;
    color: #1dd069;
}

.social-btn-roll.spotify:hover {
    background: #1dd069;
}

.social-btn-roll.youtube {
    border-color: #e62117;
    color: #e62117;
}

.social-btn-roll.youtube:hover {
    background: #e62117;
}

/* --------------------------------------
    5.2 Pricing Tables
-------------------------------------- */

/*********** 5.2.1 Version 1 *************/

.pricing-table {
    position: relative;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 40px;
    border: 1px solid #e3e3e3;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.pricing-table:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
}

.pricing-table.pricing-table-featured:before {
    content: '\f005';
    font-family: 'fontawesome';
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    color: #fff;
    text-align: center;
    top: -25px;
    right: 0;
    left: 0;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
    font-size: 20px;
    line-height: 50px;
}

.pricing-table .pricing-header > * {
    text-transform: capitalize;
    margin: 0;
}

.pricing-table .pricing {
    margin: 40px 0;
    padding: 20px 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    color: #555;
}

.pricing-table .pricing .amount {
    font-size: 52px;
    font-weight: bold;
    vertical-align: middle;
}

.pricing-table .pricing-body ul {
    margin: 0;
    padding: 0;
}

.pricing-table .pricing-body ul li {
    list-style: outside none none;
    margin: 10px 0px 10px 25px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #666;
}

.pricing-table .pricing-body ul li:first-child {
    margin-top: 0;
}

.pricing-table .pricing-body ul li:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: #29b1fd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pricing-table .pricing-footer {
    margin-top: 40px;
}

/*********** 5.2.2 Version 2 *************/

.pricing-table2 {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    text-align: left;
}

.pricing-table2 .pricing-header {
    padding: 40px;
    position: relative;
    background-color: #666;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    -webkit-border-radius: 9px 9px 0 0;
    -moz-border-radius: 9px 9px 0 0;
    border-radius: 9px 9px 0 0;
}

.pricing-table2 .pricing-header > * {
    z-index: 1;
    position: relative;
}

.pricing-table2 .pricing-header .overlay {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0 !important;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}

.pricing-table2 .pricing-header .featured {
    position: absolute !important;
    top: -8px;
    background: #a74bce;
    font-size: 18px;
    right: 25px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
}

.pricing-table2 .pricing-header .featured:after,
.pricing-table2 .pricing-header .featured:before {
    content: '';
    border: 20px solid transparent;
    position: absolute;
    z-index: -1;
    top: 12px;
}

.pricing-table2 .pricing-header .featured:before {
    left: 0;
    border-left-color: #a74bce;
}

.pricing-table2 .pricing-header .featured:after {
    right: 0;
    border-right-color: #a74bce;
}

.pricing-table2 .pricing-header .featured i:after {
    content: '';
    position: absolute;
    border-left: 5px solid #8c35b1;
    border-top: 8px solid transparent;
    top: 0;
    right: -5px;
}

.pricing-table2 .pricing-header span.title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 25px;
    color: #fff;
}

.pricing-table2 .pricing-header span.title:after {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    margin-top: 10px;
}

.pricing-table2 .pricing-header .amount {
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 15px;
    display: block;
    word-break: break-all;
    color: #fff;
}

.pricing-table2 .pricing-header .description {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.pricing-table2 .pricing-body {
    padding: 40px;
    background: #fff;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

.pricing-table2 .pricing-body p {
    margin: 0;
}

.pricing-table2 .pricing-body ul {
    padding: 0;
    list-style: none;
}

.pricing-table2 .pricing-body ul li {
    margin-bottom: 15px;
}

.pricing-table2 .pricing-body ul li:last-child {
    margin: 0;
}

.pricing-table2 .pricing-body ul li:before {
    content: "\e080";
    font-family: 'simple-line-icons';
    margin-right: 10px;
    color: #6fde83;
}

.pricing-table2 .pricing-body ul li.disabled {
    opacity: .5;
}

.pricing-table2 .pricing-body ul li.disabled:before {
    content: "\e082";
    color: inherit;
}

.pricing-table2 .pricing-footer a {
    text-align: center;
    display: block;
    padding: 12px 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-border-radius: 0 0 9px 9px;
    -moz-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
}

/* --------------------------------------
    5.3 Video Modal
-------------------------------------- */

.video-container {
    position: relative;
    min-height: 100px;
    z-index: 10;
}

.video-container a {
    display: block;
    cursor: pointer;
    margin: auto;
}

.video-container img {
    margin: auto;
    display: block;
    height: auto;
    width: 100%;
    max-width: 1210px;
    -webkit-transition: .25s ease;
    -moz-transition: .25s ease;
    -o-transition: .25s ease;
    transition: .25s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

.play-video {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    background: #fff;
    cursor: pointer;
    border: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translate( -50%, -50%);
    -moz-transform: translate( -50%, -50%);
    -ms-transform: translate( -50%, -50%);
    -o-transform: translate( -50%, -50%);
    transform: translate( -50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.play-video:hover {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
}

.play-video .fa-play {
    width: 100%;
    height: 100%;
    color: #252525;
    font-size: 16px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 0;
    left: 3px;
}

.play-button-left .play-video {
    margin-left: 30px;
    left: 0;
}


/* --------------------------------------
    5.4 Count Down
-------------------------------------- */

.countdown {
    display: block;
    text-align: center;
    font-size: 40px;
    width: 600px;
    height: 70px;
    position: relative;
    margin: auto;
    padding: 0;
}

.CountdownContent {
    width: 150px;
    font-size: 68px;
    margin: 0;
    line-height: 70px;
    float: left
}

.CountdownContent .CountdownLabel {
    font-size: 16px;
    font-weight: 600;
    display: block;
    line-height: 1;
    width: 100%;
    letter-spacing: 0;
    margin-top: 10px;
}

.countdown .CountdownSeparator {
    display: none;
}



/* --------------------------------------
    5.5 Counter
-------------------------------------- */

.counter_number {
    margin: 0;
}

.counter {
    text-align: center;
}

.counter.count_left {
    text-align: left;
}

.counter.count_center {
    text-align: center;
}

.number_string {
    font-size: 42px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: inherit;
    line-height: 1;
}

.counter_units {
    text-transform: none;
    margin-top: 0;
    margin-bottom: 20px;
}


.wpb_column:last-child .counter_number:after {
    display: none;
}

.counter_text {
    line-height: 1.6;
}

.counter_icon {
    font-size: 48px;
    margin: auto;
    position: relative;
    margin-bottom: 25px;
}

.counter .counter_icon img {}

.large-counter .number_string {
    font-size: 75px;
    font-weight: 300;
    width: 100%;
    text-align: center;
    font-style: normal;
    letter-spacing: -2.5px;
    margin: 0;
    margin-bottom: 10px;
    display: block;
    line-height: 1;
    width: auto;
    margin: 0;
    float: none;
    display: inline-block;
    color: inherit;
}

.large-counter .counter_number:after {
    display: none;
}


.icon-left.counter .counter_content {
    text-align: left;
    display: inline-block;
}

.icon-left.counter .counter_icon {
    display: inline-block;
    margin-right: 30px;
    font-size: 68px;
    margin-left: -5px;
}


.large-counter .counter_icon {
    width: 60px;
    height: 60px;
    margin: auto;
    position: relative;
    margin-bottom: 10px;
    font-size: 60px;
}

.large-counter .counter_units {
    font-size: 75px;
    margin-top: 0;
    font-weight: 300;
    line-height: 75px;
}


.large-counter .counter_number {
    margin-top: 0;
    margin-bottom: 15px;
}

.large-counter .counter_text {
    font-size: 16px;
    float: none;
    width: 100%;
    text-align: center;
}

.count_left .number_string,
.count_left .counter_text {
    text-align: left;
}

.count_left .number_string {
    margin-left: -5px;
}

/* --------------------------------------
    5.6 Icon Box
-------------------------------------- */

.icon-box {}

.icon-box.with-border {
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.icon-box.with-border:hover {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}


.icon-box .ib-wrapper {
    padding: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.icon-box p {
    margin-bottom: 0!important;
}

.icon-box .ib-link {
    margin-top: 25px;
}

.icon-box .ib-link a {
    font-weight: 600;
}

.icon-box .fa {
    display: block;
    margin: auto;
    margin-bottom: 35px;
    font-size: 44px;
    width: 100px;
    height: 100px;
    line-height: 105px;
}


.icon-box .service-heading {
    text-transform: none;
    margin-top: 0;
    margin-bottom: 20px;
}

.icon-box h6.service-heading {
    margin-bottom: 5px;
}

.icon-box .iconbox-customimg {
    font-size: 35px;
    width: 100px;
    height: 100px;
    line-height: 105px;
    margin: auto;
    position: relative;
    margin-bottom: 35px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
}

.icon-default {
    text-align: center;
}

.icon-box.icon-top {
    text-align: center;
}

.vc_col-sm-3 .icon-box.icon-top.cont-center p {
    padding: 0;
}

.icon-box.icon-top.cont-center .fa,
.icon-box.icon-top.cont-center .iconbox-customimg {
    margin-bottom: 30px;
    margin-top: 10px;
}


.icon-box.icon-left {
    text-align: left;
}

.icon-box.icon-left.icon-default .fa {
    text-align: center;
}

.icon-box.icon-left.icon-default p {
    margin-left: 70px;
}

.icon-box.icon-left.icon-default .fa,
.icon-box.icon-left.icon-default .iconbox-customimg {
    float: left;
    margin: 0 25px 25px 0;
    line-height: 1;
}

.icon-box.icon-left.icon-default .iconbox-customimg img {
    max-width: 60px;
    margin-bottom: 0;
}

.icon-box.icon-left.icon-default p {
    margin-bottom: 0!important;
}

.icon-box.cont-left {
    text-align: left;
}

.icon-box.cont-right {
    text-align: right;
}

.icon-box.cont-left .fa,
.icon-box.cont-left .iconbox-customimg {
    margin-left: 0;
}

.icon-box.icon-default .fa,
.icon-box.icon-default .iconbox-customimg {
    width: auto;
    height: auto;
    line-height: 1;
    margin-bottom: 20px;
}

.icon-box.icon-default.icon-top .fa,
.icon-box.icon-default.icon-top .iconbox-customimg {
    width: 100%;
}

.icon-box.icon-default.icon-top .iconbox-customimg img {
    max-width: 65px;
    margin-left: 0;
    position: relative;
    margin-top: 0;
    top: inherit;
    left: inherit;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* --------------------------------------
    5.7 Photo Gallery
-------------------------------------- */

.photo-gallery .gallery-item {
    margin-bottom: 10px;
    width: 45%;
    float: left;
}

.photo-gallery .gallery-item .gallery-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.photo-gallery .gallery-item:hover .gallery-overlay {
    opacity: 1;
}

/* --------------------------------------
    5.8 Newletter
-------------------------------------- */

.cocoon-newsletter .title {
    margin-top: 0;
}

.cocoon-newsletter.nl-style-1 form {
    margin-top: 30px;
    position: relative;
}

.cocoon-newsletter .mc4wp-form-fields {
    position: relative;
}

/* Style 1 */

.cocoon-newsletter.nl-style-1 .nl-form form input[type=email] {
    width: 100%;
    padding: 14px 20px 14px;
    display: block;
}

.cocoon-newsletter.nl-style-1 .nl-form form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 56px;
    opacity: 0;
    z-index: 10;
}

.cocoon-newsletter.nl-style-1 .nl-form form:after {
    content: '\e094';
    display: inline-block;
    font-family: "simple-line-icons";
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    z-index: 1;
    line-height: 56px;
}

/* Style 2 */

.cocoon-newsletter.nl-style-2 .nl-form {
    position: relative;
}

.cocoon-newsletter.nl-style-2 .nl-form input[type=email] {
    width: 100%;
    padding: 14px 20px 14px;
    display: block;
    padding-right: 190px;
    min-height: 50px;
}

.cocoon-newsletter.nl-style-2 .nl-form input[type=submit] {
    position: absolute;
    min-width: 150px;
    height: 100%;
    top: 0;
    right: 0;
    border: 0;
    opacity: 1;
    cursor: pointer;
    color: #fff;
}

/* --------------------------------------
    5.9 VC Elements Overrides
-------------------------------------- */

/*********** Accordion *************/

.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading,
.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading,
.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body {
    border-color: rgba(0, 0, 0, 0.15);
}

.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:focus,
.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading:hover {
    background: transparent;
}

/*********** Progress Bar *************/

.vc_progress_bar.vc_progress-bar-color-custom .vc_single_bar .vc_bar {
    background-color: #cc0000;
}

.vc_progress_bar .wpb_heading {
    padding: 0;
    margin: 0;
}

.vc_progress_bar .vc_general.vc_single_bar {
    background: #e4e3e3;
    position: relative;
    margin-top: 55px;
    margin-bottom: 10px;
    height: 4px;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.vc_progress_bar .vc_general.vc_single_bar:first-child {
    margin-top: 35px;
}

.vc_progress_bar .vc_general.vc_single_bar .vc_label {
    top: -30px;
    padding: 0 !important;
    font-size: 14px;
    text-shadow: none;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.vc_progress_bar .vc_general.vc_single_bar .vc_label_units {
    display: inline-block;
    text-align: right;
    top: 0;
    position: absolute;
    right: 0;
    width: 100% !important;
}

.vc_progress_bar .vc_general.vc_single_bar .vc_label_units span {
    text-align: center;
    position: relative;
    color: #000;
    font-size: 16px;
    display: inline-block;
}

.vc_progress_bar .vc_general.vc_single_bar .vc_bar {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

/*********** Tabs *************/

.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels,
.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::after,
.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::before {
    background-color: transparent;
}

.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels,
.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::after,
.wpb-js-composer .vc_tta.vc_tta-color-white.vc_tta-style-classic.vc_tta-tabs .vc_tta-panels::before {
    border-color: transparent;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-panel-body {
    padding: 30px 0 0 0;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tab:first-child > a {
    padding-left: 0;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tabs-list {
    position: relative;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tabs-list:before {
    position: absolute;
    bottom: 1px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.5);
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tab {
    position: relative;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tab:after {
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #252525;
    content: "";
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tab > a {
    background-color: transparent;
    border-color: transparent;
    color: #999;
    font-size: 16px;
    line-height: 1;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tab.vc_active:after,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tab:hover:after {
    right: auto;
    left: 0;
    opacity: 1;
    width: 100%;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tab.vc_active > a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-top .vc_tta-tab:hover > a {
    color: #252525;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-panel-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 30px;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tab:first-child > a {
    padding-left: 0;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tabs-list {
    position: relative;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tabs-list:before {
    position: absolute;
    top: 1px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.5);
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tab {
    position: relative;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tab:after {
    position: absolute;
    top: 1px;
    right: 0;
    width: 0;
    height: 1px;
    background-color: #000;
    content: "";
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tab > a {
    background-color: transparent;
    border-color: transparent;
    color: #999;
    font-size: 16px;
    line-height: 1;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tab.vc_active:after,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tab:hover:after {
    right: auto;
    left: 0;
    opacity: 1;
    width: 100%;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tab.vc_active > a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-bottom .vc_tta-tab:hover > a {
    color: #000;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-tabs-list {
    position: relative;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-tabs-list:before {
    position: absolute;
    top: 0;
    right: 1px;
    content: "";
    width: 1px;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.5);
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-panel-body {
    padding-top: 0;
    padding-right: 0;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-tab {
    position: relative;
    margin: 0;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-tab:after {
    position: absolute;
    bottom: 0;
    right: 1px;
    width: 1px;
    height: 0;
    background-color: #000;
    content: "";
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-tab > a {
    background-color: transparent;
    border-color: transparent;
    color: #999;
    font-size: 16px;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-tab.vc_active:after,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-tab:hover:after {
    bottom: auto;
    top: 0;
    opacity: 1;
    height: 100%;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-tab.vc_active > a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-left .vc_tta-tab:hover > a {
    color: #000;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-tabs-list {
    position: relative;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-tabs-list:before {
    position: absolute;
    top: 0;
    left: 1px;
    content: "";
    width: 1px;
    height: 100%;
    background-color: rgba(204, 204, 204, 0.5);
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-panel-body {
    padding-top: 0;
    padding-left: 0;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-tab {
    position: relative;
    margin: 0;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-tab:after {
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 1px;
    height: 0;
    background-color: #000;
    content: "";
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-tab > a {
    background-color: transparent;
    border-color: transparent;
    color: #999;
    font-size: 16px;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-tab.vc_active:after,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-tab:hover:after {
    bottom: auto;
    top: 0;
    opacity: 1;
    height: 100%;
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-tab.vc_active > a,
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-classic.vc_tta-color-white.vc_tta-tabs-position-right .vc_tta-tab:hover > a {
    color: #000;
}

/*********** Single Image *************/

.wpb_single_image .vc_single_image-wrapper.vc_box_shadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.wpb_single_image .vc_single_image-wrapper.vc_box_shadow img {
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1) !important;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1) !important;
}

/* --------------------------------------
    5.10 PRELOADER
-------------------------------------- */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: #fff;
    z-index: 99999999999!important;
}

#preloader [data-loader=circle-side] {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    -webkit-animation: circle infinite .95s linear;
    -moz-animation: circle infinite .95s linear;
    -o-animation: circle infinite .95s linear;
    animation: circle infinite .95s linear;
    border: 2px solid;
    border-top-color: rgba(0, 0, 0, .2);
    border-right-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

/* --------------------------------------
    5.11 OFF CANVAS
-------------------------------------- */

body.open-canvas-panel .off-canvas-layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1000;
}

.cocoon-off-canvas-panel {
    width: 450px;
    background: #fff;
    position: fixed;
    top: 0;
    right: -450px;
    bottom: 0;
    overflow: hidden;
    visibility: hidden;
    z-index: 1001;
    -webkit-transition: transform .25s ease, visibility .25s;
    -moz-transition: transform .25s ease, visibility .25s;
    -ms-transition: transform .25s ease, visibility .25s;
    -o-transition: transform .25s ease, visibility .25s;
    transition: transform .25s ease, visibility .25s;
}

.open-canvas-panel .cocoon-off-canvas-panel {
    visibility: visible;
    -webkit-transform: translate3d(-450px, 0, 0);
    -moz-transform: translate3d(-450px, 0, 0);
    -ms-transform: translate3d(-450px, 0, 0);
    -o-transform: translate3d(-450px, 0, 0);
    transform: translate3d(-450px, 0, 0);
}

.cocoon-off-canvas-panel .widget-canvas-content {
    height: 100%;
    overflow-y: auto;
    padding: 0 50px;
}

.cocoon-off-canvas-panel .widget-panel-header {
    padding: 50px 0;
}

.cocoon-off-canvas-panel .close-canvas-panel {
    font-size: 26px;
    color: #999;
}

.cocoon-off-canvas-panel .close-canvas-panel:hover {
    color: #252525;
}

/* --------------------------------------
    5.12 BANNERS
-------------------------------------- */

/***** Banner Image *****/

.cocoon-banner {
    padding: 0 10px;
}

.cocoon-banner .banner-content img {
    opacity: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.cocoon-banner .banner-content:hover img {
    opacity: .8;
}

.cocoon-banner .banner-content h4 {
    margin-bottom: 0;
}

/***** Banner Grid *****/

.cocoon-banners-grid ul {
    margin: 0;
    padding: 0;
}

.cocoon-banners-grid ul li {
    list-style: none;
    float: left;
    position: relative;
    padding: 7px;
    margin-bottom: 0;
    width: 35%;
    height: 300px;
}

.cocoon-banners-grid ul li .link-all {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.cocoon-banners-grid ul li.banner-item-long {
    width: 65%;
}

.cocoon-banners-grid ul li:nth-child( 2n + 1) {
    clear: both;
}

.cocoon-banners-grid ul li img {
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 30px rgba( 0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba( 0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba( 0, 0, 0, .1);
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
}

.cocoon-banners-grid ul li:hover img {
    opacity: 0.8;
}

.cocoon-banners-grid ul .banner-item-text {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
}

.cocoon-banners-grid ul .banner-item-text h3 {
    margin: 0;
    padding: 7px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.cocoon-banners-grid ul .banner-item-text .link {
    color: #999;
    opacity: 0;
}

/* --------------------------------------
    5.13 TESTIMONIALS
-------------------------------------- */

.testimonial-cards {
    text-align: left;
    padding: 0 15px;
}

.testimonial-cards .owl-carousel .owl-item {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}

.testimonial-cards .owl-carousel .owl-item.active {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.testimonial-cards .testimonial-card {
    padding: 0 15px;
}

.testimonial-cards .testimonial-message {
    position: relative;
    padding: 40px;
    margin-bottom: 40px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
}

.testimonial-cards .testimonial-message h6 {
    margin-bottom: 0;
    font-weight: 400;
    opacity: .4;
}

.testimonial-cards .center .testimonial-message h6 {
    color: #fff;
    opacity: 1;
}

.testimonial-cards .testimonial-header {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
}

.testimonial-cards .center .testimonial-header {
    opacity: 1;
}

.testimonial-cards .testimonial-header .name {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 2px;
}

.testimonial-cards .testimonial-header .job {
    display: block;
    margin: 0;
}

.testimonial-cards .testimonial-header .image img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
    margin-top: -16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* --------------------------------------
    5.14 BLOG POSTS
-------------------------------------- */

.bloglist-post-holder {
    position: relative;
    overflow: hidden;
    text-align: left;
    margin-bottom: 30px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
}

.bloglist-post-holder .bloglist-post-thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.bloglist-post-holder:hover .bloglist-post-thumbnail {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.bloglist-post-holder .bloglist-post-thumbnail:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: .5;
}

.bloglist-post-holder .bloglist-text-wrapper {
    position: relative;
    padding: 40px;
}

.bloglist-post-holder .post-category {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 5px;
    display: block;
}

.bloglist-post-holder .post-category a {
    color: inherit;
}

.bloglist-post-holder .bloglist-title {
    margin: 0;
}

.bloglist-post-holder .bloglist-title a {
    color: #252525;
}

.bloglist-post-holder:hover .bloglist-title a,
.bloglist-post-holder:hover .bloglist-text-wrapper {
    color: #fff;
}

.bloglist-post-holder .bloglist-meta {
    padding-top: 10px;
}

.bloglist-post-holder .bloglist-excerpt {
    padding-top: 25px;
}

/* --------------------------------------
    5.15 LOGO CAROUSEL
-------------------------------------- */

.logo-carousel img {
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.logo-carousel img:hover {
    opacity: 1;
}