/**
*
* @package Cocoon
*
* @since 1.0
* 
* ========================
* DEFAULT STYLES
* ========================
*     
**/

/*------------------------------------------------------------------

[Table of contents]

1.  DEFAULT TYPOGRAPHY
2.  GENERAL TAG STYLES
3.  GENERAL CLASS STYLES
4.  MARGINS & PADDINGS
5.  ALIGNMENTS
6.  CAPTIONS
7.  GALLERIES
8.  WIDGETS
9.  PAGINATION

-------------------------------------------------------------------*/

/* --------------------------------------
    1. Default Typography
-------------------------------------- */

h1.logo {
    margin: 0;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin: 10px 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1f1f1f;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-family: inherit;
}

a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6 {
    color: inherit;
}

a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none !important;
    outline: none !important;
}

a:hover {}

label {
    font-weight:  500;
}

p {
    margin-bottom: 1.7em;
    margin-top: 0;
}


/* --------------------------------------
    2. General Tag Styles
-------------------------------------- */


* {
    outline: none;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 !important;
    background: #fff;
}

body {
    overflow-x: hidden;
    color: #948a99;
}

body.mfp-zoom-out-cur {
    overflow: hidden;
}

body > .wrapper {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background: #fff;
}

body > .wrapper.boxed {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 40px rgba( 0, 0, 0, 0.07);
    -moz-box-shadow: 0 10px 40px rgba( 0, 0, 0, 0.07);
    box-shadow: 0 10px 40px rgba( 0, 0, 0, 0.07);
}

main,
section {
    position: relative;
}

a,
button,
input {
    outline: none !important;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="phone"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 10px 20px;
    color: #666;
    border: 1px solid #e3e3e3;
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

select {
    background: #fff;
    background: linear-gradient(45deg, transparent 50%, #948a99 50%), linear-gradient(135deg, #948a99 50%, transparent 50%), #fff;
    background-position: calc(100% - 19px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px), 100% 0;
    background-size: 5px 5px, 5px 5px, 0;
    background-repeat: no-repeat;
}


textarea {
    max-width: 100%;
    min-height: 200px;
}

::-webkit-input-placeholder {
    opacity: 1;
    color: #999;
}

::-moz-placeholder {
    opacity: 1;
    color: #999;
}

:-ms-input-placeholder {
    opacity: 1;
    color: #999;
}

:-moz-placeholder {
    opacity: 1;
    color: #999;
}


ul {
    margin: 0;
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 100%;
    height: auto;
    -moz-user-select: none;
    /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none;
    /* From IE10 only */
    -webkit-user-drag: none;
    /* Prevents dragging of images/divs etc */
    user-drag: none;
}

embed,
iframe,
object {
    max-width: 100%;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
}

caption,
td,
th {
    padding: 0;
    font-weight: normal;
    text-align: left;
}

table,
th,
td {
    border: 1px solid #e3e3e3;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

th,
td {
    padding: 0.4375em;
}

dl {
    margin: 0 0 1.75em;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 0 1.75em;
}

blockquote {
    border: 0;
    margin: 20px 0;
    padding: 0;
}

blockquote:before {
    content: "\f10d";
    font-family: "fontawesome";
    display: inline-block;
    position: relative;
    font-size: 35px;
    line-height: 35px;
    float: left;
    margin-right: 30px;
}

blockquote cite {
    font-weight: 600;
    color: #252525;
    margin-top: 10px;
    display: block;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

pre {
    font-size: 14px;
    margin: 20px 0;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Protected post - button */

form.post-password-form input[type=submit] {
    outline: none;
    padding: 0 15px;
    position: relative;
    line-height: 44px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #f6f6f6 !important;
    border: 0;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

form.post-password-form input[type=submit]:hover {
    -webkit-filter: brightness(113%);
    filter: brightness(113%);
}

/* --------------------------------------
    3. General Class Styles
-------------------------------------- */

.tooltip {
    font-size: 12px;
}

.form-control {
    width: 100%;
    padding: 10px 20px;
    color: #666;
    border: 1px solid #e3e3e3;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #e3e3e3;
}

select.form-control {
    cursor: pointer;
    color: #999;
}

.img-box {
    position: relative;
}

.img-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(147, 82, 179, .3);
    -moz-box-shadow: 0px 0px 30px rgba(147, 82, 179, .3);
    box-shadow: 0px 0px 30px rgba(147, 82, 179, .3);
}

.img-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: inline-block;
}

.shadow {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.shadow-hover {
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.shadow-hover:hover {
    -webkit-box-shadow: 5px 5px 30px 0px rgba(55, 71, 79, .1);
    -moz-box-shadow: 5px 5px 30px 0px rgba(55, 71, 79, .1);
    box-shadow: 5px 5px 30px 0px rgba(55, 71, 79, .1);
}

.parallax {
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    background-size: cover !important;
    position: relative;
    z-index: 99;
}

.parallax-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #1f1f1f;
    opacity: 0.4;
}

.table {
    max-width: none;
}


.vc_row[data-vc-full-width=true]>.vc_column_container,
.vc_row[data-vc-full-width=true]>.overlay {
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 1;
}

.vc_row>.overlay {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.transparent {
    background: transparent !important;
}

.sidebar-left {
    order: -1;
}

/* Checkboxes */
.checkboxes {
    width:  100%;
    margin-top: 10px;
}

.checkboxes label {
    position: relative;
    cursor:  pointer;
    margin: 0;
}

.checkboxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    margin-right: 15px;
}

.checkboxes .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid #e3e3e3;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.checkboxes .checkmark:before {
    content: '\f00c';
    font-family:  'fontawesome';
    color: #fff;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    line-height: 22px;
    text-align:  center;
    font-size: 13px;
}

.checkboxes input:checked~.checkmark:before {
    display: block;
}

.checkboxes input:checked~.checkmark {
    border: 1px solid transparent;
}

/* OWl Dots */

.owl-dots {
    margin-top: 20px;
    text-align: center;
}

.owl-nav.disabled+.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #ddd;
    display: block;
    opacity: .3;
    -webkit-backface-visibility: visible;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.owl-dots .owl-dot.active span {
    opacity: 1;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

/* Owl Nav */
.owl-nav>button:before {
    display: block;
    font-family: 'FontAwesome';
    font-size: 26px;
    line-height: 40px;
}

.owl-nav>button.owl-next:before {
    content: "\f105";
}

.owl-nav>button.owl-prev:before {
    content: "\f104";
}

/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    left: -9999px;
    bottom: 50px;
}

footer.entry-footer {
    padding: 0;
    padding-top: 50px;
    clear: both;
}

footer.entry-footer span.edit-link a:first-child {
    margin-right: 15px;
}

/* Main Search Form */
form.main-search-form {
    position:  relative;
}

form.main-search-form:before {
    content:  '\e090';
    font-family: simple-line-icons;
    position:  absolute;
    top: 0;
    right: 15px;
    opacity: .8;
    height:  100%;
    line-height: 46px;
}

/* Select2 Classes */
.select2-container--default .select2-selection--single {
    border: 1px solid #e3e3e3;
    text-align: left;
    background-color: transparent;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    display: inline;
    padding-left: 0;
    padding-right: 0;
    color: #252525;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 12px;
    right: 10px;
}

/* Slick Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* --------------------------------------
    4. Margins & Paddings
-------------------------------------- */

.nopadding{ padding: 0 !important;}
.nomargin{ margin: 0 !important;}

/********** Margin Top **********/

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt60 { margin-top: 60px; }
.mt70 { margin-top: 70px; }
.mt80 { margin-top: 80px; }
.mt90 { margin-top: 90px; }
.mt100 { margin-top: 100px; }
.mt110 { margin-top: 110px; }
.mt120 { margin-top: 120px; }
.mt125 { margin-top: 125px; }
.mt130 { margin-top: 130px; }
.mt140 { margin-top: 140px; }
.mt150 { margin-top: 150px; }

/********** Margin Right **********/

.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr45 { margin-right: 45px; }
.mr50 { margin-right: 50px; }
.mr60 { margin-right: 60px; }
.mr70 { margin-right: 70px; }
.mr80 { margin-right: 80px; }
.mr90 { margin-right: 90px; }
.mr100 { margin-right: 100px; }
.mr110 { margin-right: 110px; }
.mr120 { margin-right: 120px; }
.mr125 { margin-right: 125px; }
.mr130 { margin-right: 130px; }
.mr140 { margin-right: 140px; }
.mr150 { margin-right: 150px; }

/********** Margin Bottom **********/

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }
.mb70 { margin-bottom: 70px; }
.mb80 { margin-bottom: 80px; }
.mb90 { margin-bottom: 90px; }
.mb100 { margin-bottom: 100px; }
.mb110 { margin-bottom: 110px; }
.mb120 { margin-bottom: 120px; }
.mb125 { margin-bottom: 125px; }
.mb130 { margin-bottom: 130px; }
.mb140 { margin-bottom: 140px; }
.mb150 { margin-bottom: 150px; }

/********** Margin Left **********/

.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml70 { margin-left: 70px; }
.ml80 { margin-left: 80px; }
.ml90 { margin-left: 90px; }
.ml100 { margin-left: 100px; }
.ml110 { margin-left: 110px; }
.ml120 { margin-left: 120px; }
.ml125 { margin-left: 125px; }
.ml130 { margin-left: 130px; }
.ml140 { margin-left: 140px; }
.ml150 { margin-left: 150px; }

/********** Margin Top & Bottom **********/

.mtb5 { margin: 5px 0; }
.mtb10 { margin: 10px 0; }
.mtb15 { margin: 15px 0; }
.mtb20 { margin: 20px 0; }
.mtb25 { margin: 25px 0; }
.mtb30 { margin: 30px 0; }
.mtb35 { margin: 35px 0; }
.mtb40 { margin: 40px 0; }
.mtb45 { margin: 45px 0; }
.mtb50 { margin: 50px 0; }
.mtb60 { margin: 60px 0; }
.mtb70 { margin: 70px 0; }
.mtb80 { margin: 80px 0; }
.mtb90 { margin: 90px 0; }
.mtb100 { margin: 100px 0; }
.mtb110 { margin: 110px 0; }
.mtb120 { margin: 120px 0; }
.mtb130 { margin: 130px 0; }
.mtb140 { margin: 140px 0; }
.mtb150 { margin: 150px 0; }

/********** Padding Top **********/

.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }
.pt60 { padding-top: 60px; }
.pt70 { padding-top: 70px; }
.pt80 { padding-top: 80px; }
.pt90 { padding-top: 90px; }
.pt100 { padding-top: 100px; }
.pt110 { padding-top: 110px; }
.pt120 { padding-top: 120px; }
.pt130 { padding-top: 130px; }
.pt140 { padding-top: 140px; }
.pt150 { padding-top: 150px; }
.pt160 { padding-top: 160px; }

/********** Padding Right **********/

.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pr35 { padding-right: 35px; }
.pr40 { padding-right: 40px; }
.pr45 { padding-right: 45px; }
.pr50 { padding-right: 50px; }
.pr60 { padding-right: 60px; }
.pr70 { padding-right: 70px; }
.pr80 { padding-right: 80px; }
.pr90 { padding-right: 90px; }
.pr100 { padding-right: 100px; }
.pr110 { padding-right: 110px; }
.pr120 { padding-right: 120px; }
.pr125 { padding-right: 125px; }
.pr130 { padding-right: 130px; }
.pr140 { padding-right: 140px; }
.pr150 { padding-right: 150px; }

/********** Padding Bottom **********/

.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }
.pb40 { padding-bottom: 40px; }
.pb45 { padding-bottom: 45px; }
.pb50 { padding-bottom: 50px; }
.pb60 { padding-bottom: 60px; }
.pb70 { padding-bottom: 70px; }
.pb80 { padding-bottom: 80px; }
.pb90 { padding-bottom: 90px; }
.pb100 { padding-bottom: 100px; }
.pb110 { padding-bottom: 110px; }
.pb120 { padding-bottom: 120px; }
.pb130 { padding-bottom: 130px; }
.pb140 { padding-bottom: 140px; }
.pb150 { padding-bottom: 150px; }
.pb160 { padding-bottom: 160px; }

/********** Padding Left **********/

.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl35 { padding-left: 35px; }
.pl40 { padding-left: 40px; }
.pl45 { padding-left: 45px; }
.pl50 { padding-left: 50px; }
.pl60 { padding-left: 60px; }
.pl70 { padding-left: 70px; }
.pl80 { padding-left: 80px; }
.pl90 { padding-left: 90px; }
.pl100 { padding-left: 100px; }
.pl110 { padding-left: 110px; }
.pl120 { padding-left: 120px; }
.pl125 { padding-left: 125px; }
.pl130 { padding-left: 130px; }
.pl140 { padding-left: 140px; }
.pl150 { padding-left: 150px; }

/********** Padding Top & Bottom **********/

.ptb5 { padding: 5px 0; }
.ptb10 { padding: 10px 0; }
.ptb15 { padding: 15px 0; }
.ptb20 { padding: 20px 0; }
.ptb25 { padding: 25px 0; }
.ptb30 { padding: 30px 0; }
.ptb35 { padding: 35px 0; }
.ptb40 { padding: 40px 0; }
.ptb45 { padding: 45px 0; }
.ptb50 { padding: 50px 0; }
.ptb60 { padding: 60px 0; }
.ptb70 { padding: 70px 0; }
.ptb80 { padding: 80px 0; }
.ptb90 { padding: 90px 0; }
.ptb100 { padding: 100px 0; }
.ptb110 { padding: 110px 0; }
.ptb120 { padding: 120px 0; }
.ptb130 { padding: 130px 0; }
.ptb140 { padding: 140px 0; }
.ptb150 { padding: 150px 0; }
.ptb160 { padding: 160px 0; }

/********** Opacity **********/
.op-1 { opacity: 0.1; }
.op-2 { opacity: 0.2; }
.op-3 { opacity: 0.3; }
.op-4 { opacity: 0.4; }
.op-5 { opacity: 0.5; }
.op-6 { opacity: 0.6; }
.op-7 { opacity: 0.7; }
.op-8 { opacity: 0.8; }
.op-9 { opacity: 0.9; }



/* --------------------------------------
    5. Alignments
-------------------------------------- */

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------------------
    6. Captions
-------------------------------------- */

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text,
figure.image-right figcaption,
figure.image-left figcaption,
.wp-caption-text {
    background-color: #f4f4f4;
    font-weight: 600;
    font-size: 15px;
    color: #888;
    padding: 10px 20px;
}

.wp-caption-text {
    background-color: #fff;
    margin: 0 !important;
}


/* --------------------------------------
    7. Galleries
-------------------------------------- */

.gallery-caption {
    display: block;
}

/* --------------------------------------
    8. Widgets
-------------------------------------- */

aside.widget {
    margin-top: 50px;
}

aside.widget:first-child {
    margin-top: 0;
}

aside.widget a {
    color: #252525;
}

.widget .widget-title {
    margin: 0;
    padding-bottom: 20px;
}

.widget ul {
    padding: 0;
    list-style: none;
}

.widget_archive li a,
.widget_categories li a,
.widget_product_categories li a,
.widget_recent_entries a,
.widget_recent_entries li a,
.widget_recent_comments li a,
.widget_pages li a,
.widget_nav_menu li a,
.widget_nav_menu .menu ul > li > a,
.widget_meta li a {
    text-transform: capitalize;
}

.widget_archive li,
.widget_categories li,
.widget_product_categories li,
.widget_recent_entries li,
.widget_recent_comments li,
.widget_pages li,
.widget_meta li {
    padding: 5px 0;
    margin: 0;
}

.widget_archive li:last-child,
.widget_categories li:last-child,
.widget_product_categories li a:last-child,
.widget_recent_entries li:last-child,
.widget_recent_comments li:last-child,
.widget_pages li:last-child,
.widget_meta li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.widget_categories li ul,
.widget_pages li ul,
.widget_archive li ul,
.widget_nav_menu li ul {
    margin-left: 15px;
    margin-bottom:  5px;
}

.widget ul li li {
    padding-left: 1em;
}

/* Recent Posts Widget */

.widget_recent_entries .widget-blog-post {
    clear: both;
    border: 0;
    padding: 0;
}

.widget_recent_entries .widget-blog-post .post-thumbnail {
    width: 65px;
    height: 65px;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
}

.widget_recent_entries .widget-blog-post .post-thumbnail img {
    max-width: none;
    width: auto;
    height: 100%;
    position: absolute;
    left: -50%;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.widget_recent_entries .widget-blog-post .post-thumbnail img.post-no-thumb {
    left: 0;
}

.widget_recent_entries .widget-blog-post .post-info {
    padding-top: 10px;
}

.widget_recent_entries .widget-blog-post .post-info a {
    display: block;
}

.widget_recent_entries .widget-blog-post .post-info span {
    font-style: italic;
}


/* Tag Cloud Widget */

.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a {
    color: #252525;
    font-size: 14px !important;
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 7px 15px;
    line-height: 45px;
    text-transform: capitalize;
    margin-right: 5px;
    white-space: nowrap;
}

.widget_tag_cloud .tagcloud a:hover, 
.widget_product_tag_cloud .tagcloud a:hover {
    background: #f9f9f9;
}

/* Calendar Widget */

.widget_calendar table#wp-calendar {
    width: 100%;
}

.widget_calendar table#wp-calendar caption {
    margin-bottom: 10px;
}

.widget_calendar table#wp-calendar th,
.widget_calendar table#wp-calendar td {
    text-align: center;
}

.widget_calendar table#wp-calendar th {
    color: #999;
}

.widget_calendar table#wp-calendar td {
    color: #777;
}

/* Mailchimp - Newsletter Widget */

.widget_mc4wp_form_widget form button {
    width: 100%;
    margin-top: 20px;
}

/* --------------------------------------
    9. Pagination
-------------------------------------- */

nav.pagination {
    margin-top: 25px;
    text-align: center;
}


nav.pagination ul {
    padding: 0;
    list-style-type: none;
    margin: 0 auto;
}

nav.pagination ul li {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

nav.pagination ul li a,
nav.pagination ul li span.current {
    display: block;
    font-size: 14px;
    font-weight: 400;
    width: 45px;
    height: 45px;
    line-height: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

nav.pagination ul li a.prev,
nav.pagination ul li a.next {
    width: 100%;
}

nav.pagination ul li span.current {
    color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
}

/* Page Links */
.page-links {
	clear: both;
	padding-top: 20px;
}