/**
*
* @package Cocoon
*
* @since 1.0
* 
* ========================
* WOOCOMMERCE STYLES
* ========================
*     
**/



/*------------------------------------------------------------------
[Table of contents]

    
    1.   GENERAL ELEMENTS
    2.   SHOP PRODUCTS & CATEGORIES
    3.   SHOP SINGLE PRODUCT PAGE
    4.   WIDGETS
    5.   CART
    6.   CHECKOUT
    7.   THANK YOU PAGE
    8.   MY ACCOUNT PAGE
    9.   WISHLIST PAGE
    10.  RESPONSIVE MEDIA QUERIES


-------------------------------------------------------------------*/




/* ----------------------------------------------------------------------------
    1. GENERAL ELEMENTS
---------------------------------------------------------------------------- */

/********* Cart Quantity *********/

.woocommerce div.product form.cart div.quantity,
.woocommerce table.shop_table tbody td.product-quantity .quantity {
    position: relative;
    float: left;
    border: 1px solid rgba(37, 37, 37, .2);
    margin: 0 20px 0 0;
    padding: 0 30px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.woocommerce div.product form.cart div.quantity:hover,
.woocommerce table.shop_table tbody td.product-quantity .quantity:hover {
    border-color: #252525;
}

.woocommerce div.product form.cart div.quantity .decrease,
.woocommerce div.product form.cart div.quantity .increase,
.woocommerce table.shop_table tbody td.product-quantity .quantity .decrease,
.woocommerce table.shop_table tbody td.product-quantity .quantity .increase {
    font-size: 13px;
    cursor: pointer;
    color: #999;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.woocommerce div.product form.cart div.quantity .decrease:hover,
.woocommerce div.product form.cart div.quantity .increase:hover,
.woocommerce table.shop_table tbody td.product-quantity .quantity .decrease:hover,
.woocommerce table.shop_table tbody td.product-quantity .quantity .increase:hover {
    color: #000;
}

.woocommerce div.product form.cart div.quantity .increase,
.woocommerce table.shop_table tbody td.product-quantity .quantity .increase {
    right: 15px;
    left: auto;
}

.woocommerce .quantity .qty {
    background: none;
    border-width: 0;
    width: 70px;
    padding: 10px;
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
}

.woocommerce .quantity .qty::-webkit-outer-spin-button,
.woocommerce .quantity .qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/********* Login, Register & Coupon *********/

.woocommerce .col-coupon,
.woocommerce .col-login {
    margin-bottom: 25px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    padding: 30px;
    margin: 30px 0;
    border: 1px dashed #e3e3e3;
    background: #fbfbfb;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    -webkit-transition: box-shadow .4s ease;
    -moz-transition: box-shadow .4s ease;
    -ms-transition: box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
}

.woocommerce form.checkout_coupon:hover,
.woocommerce form.login:hover,
.woocommerce form.register:hover {
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 5px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .05);
}

.woocommerce form.login p {
    width: 100%;
}

.woocommerce form.login .woocommerce-form__label {
    width: 100%;
    margin-bottom: 15px;
}

.woocommerce form.checkout_coupon p {
    width: 100%;
}

/********* WooCommerce Table *********/

.woocommerce table.shop_table {
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.woocommerce table.shop_table tr td,
.woocommerce table.shop_table tbody td {
    border: 0;
    color: #252525;
    border-bottom: 1px solid #e3e3e3;
    padding: 40px 15px;
    text-align: left;
}

/********* Pagination *********/

nav.woocommerce-pagination {
    margin-top: 25px;
    text-align: center;
}

.woocommerce nav.woocommerce-pagination ul {
    padding: 0;
    margin: 0 auto;
    border: 0;
    list-style-type: none;
}

.woocommerce nav.woocommerce-pagination ul li {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    border: 0;
    overflow: visible;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce nav.woocommerce-pagination ul li span.current {
    display: block;
    font-size: 14px;
    font-weight: 400;
    width: 45px !important;
    height: 45px;
    line-height: 45px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.woocommerce nav.woocommerce-pagination ul li a.prev,
.woocommerce nav.woocommerce-pagination ul li a.next {
    width: 100%;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
    color: #fff;
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
}

/********* Breadcrumb *********/

.woocommerce .woocommerce-breadcrumb {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #fff;
}

/********* Product Carousel *********/

.cocoon-products-carousel .cocoon-products .product {
    width: 100%;
    max-width: 100%;
    margin: 0 !important;
}

.cocoon-products-carousel .cocoon-products .owl-dots {
    width: 100%;
}

/********* WooCommerce Messages *********/

.woocommerce-message,
.woocommerce-info,
ul.woocommerce-error {
    background: #f6f6f6;
    color: inherit;
    border: 1px solid #e3e3e3;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.woocommerce-message::before {
    content: '\e080';
    font-family: 'simple-line-icons';
    color: #948a99;
    position: unset;
    padding-right: 10px;
}

.woocommerce-message a.button {
    display: none;
}

.woocommerce-info::before {
    content: '\e08b';
    font-family: 'simple-line-icons';
    color: #948a99;
    position: unset;
    padding-right: 10px;
}

.woocommerce-error::before {
    content: "\e617";
    font-family: 'simple-line-icons';
    font-size: 24px;
    color: #dd4b59;
    top: 50%;
    left: 20px;
    line-height: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ----------------------------------------------------------------------------
    2. SHOP PRODUCTS & CATEGORIES
---------------------------------------------------------------------------- */

/* Archive Loop Header */

.woocommerce .archive-loop-header {
    display: block;
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 50px;
}

.woocommerce .archive-loop-header form {
    margin-bottom: 0 !important;
}

.woocommerce .archive-loop-header nav.grid_list_nav {
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 5px;
}

.woocommerce .archive-loop-header nav.grid_list_nav a {
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #e3e3e3;
    width: 47px;
    height: 47px;
    line-height: 47px;
    display: inline-block;
    color: #252525;
}

.woocommerce .archive-loop-header nav.grid_list_nav a i {
    opacity: .5;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.woocommerce .archive-loop-header nav.grid_list_nav a.active i,
.woocommerce .archive-loop-header nav.grid_list_nav a:hover i {
    opacity: 1;
}

/* Products */

.woocommerce .products,
.woocommerce .cocoon-products {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.woocommerce .products .product {
    margin-bottom: 50px;
}

.woocommerce .products .product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce .products .product .product-thumb {
    position: relative;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    overflow: hidden;
}

.woocommerce .products .product .product-thumb .loop-thumbnail {
    display: block;
    position: relative;
}

.woocommerce .products .product .product-thumb .image-switcher {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin-bottom: 0;
    visibility: hidden;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.woocommerce .products .product .product-thumb:hover .image-switcher {
    opacity: 1;
    visibility: visible;
}

/* Product Info */

.woocommerce .products .product .product-info {
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.woocommerce .products .product .product-info .product-categories a {
    color: inherit;
    font-size: 14px;
}

.woocommerce .products .product .product-title {
    padding: 5px 0;
}

.woocommerce .products .product .woocommerce-loop-category__title,
.woocommerce .products .product .woocommerce-loop-product__title,
.woocommerce .products .product h3 {
    font-size: 1em;
    padding: 5px 0;
    margin: 0;
}

.woocommerce .products .product .product-title a {
    color: inherit;
}

.woocommerce .products .product .product-info .price {
    color: inherit;
    margin: 0;
    font-size: .857em;
    display: block;
    font-weight: 400;
}

.woocommerce .products .product .product-info .price ins {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 400;
    padding-left: 5px;
}

.woocommerce .products .product .product-info .star-rating {
    margin: 5px auto;
    font-size: 12px;
}

.woocommerce .star-rating::before,
.woocommerce .star-rating span::before {
    color: #ffc741;
}

.woocommerce .products .product .product-labels {
    position: absolute;
    top: 15px;
    left: 30px;
    min-height: 20px;
    min-width: 70px;
    z-index: 9;
}

.woocommerce .products .product .product-labels > span {
    width: 100%;
    top: 0;
    left: 0;
    right: unset;
    display: block;
    text-align: center;
    min-height: 20px;
    line-height: 20px;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.woocommerce .product-labels span.onsale {
    background-color: #9ec24a;
}

.woocommerce .product-labels span.featured {
    background-color: #dd4b59;
}

.woocommerce .product-labels span.out-of-stock {
    background-color: #b2b0b0;
}

.woocommerce .product .product-labels .onsale + .featured {
    margin-top: 35px;
}

/* Product Buttons */

.woocommerce .products .product .product-btns-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.woocommerce .products .product .product-btns-group {
    position: absolute;
    top: -60%;
    right: 0;
    width: 50px;
    background: #fff;
    z-index: 10;
    opacity: 0;
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
    -webkit-box-shadow: -3px 0 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: -3px 0 20px rgba(0, 0, 0, .1);
    box-shadow: -3px 0 20px rgba(0, 0, 0, .1);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.woocommerce .products .product:hover .product-btns-group {
    top: 0;
    opacity: 1;
}

.woocommerce .products .product .product-btns-group > a {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    background-color: transparent;
    color: #252525;
    float: left;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.woocommerce .products .product .product-btns-group .product-quickview.loading i:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin: 15px auto 0 auto;
    border: 1px solid #999;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation: spin .6s infinite linear;
    animation: spin .6s infinite linear;
}


.woocommerce .products .product .product-thumb .button {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-weight: 400;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.woocommerce .products .product:hover .product-thumb .button {
    opacity: 1;
    visibility: visible;
}

.woocommerce .products .product .product-thumb .button.loading:after {
    top: 0;
    right: 20px;
}

.woocommerce .products .product .product-thumb a.added_to_cart {
    display: none;
}

.woocommerce .products .product .product-btns-group .yith-wcwl-add-to-wishlist {
    margin: 0;
    display: block;
    float: left;
    width: 100%;
    height: 50px;
}

.woocommerce .products .product .product-btns-group .yith-wcwl-add-to-wishlist .yith-wcwl-add-button {
    height: 100%;
}

.woocommerce .products .product .product-btns-group .yith-wcwl-add-to-wishlist .yith-wcwl-add-button .ajax-loading {
    position: absolute;
    top: 16px;
    left: 18px;
    margin: 0;
}

.woocommerce .products .product .product-btns-group .yith-wcwl-add-to-wishlist a {
    overflow: hidden;
    display: block;
    position: relative;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.woocommerce .products .product .product-btns-group .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:before {
    content: "\e08a";
    font-family: 'simple-line-icons';
    color: #252525;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

.woocommerce .products .product .product-btns-group .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.woocommerce .products .product .product-btns-group .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before {
    content: '\f004';
    font-family: 'fontawesome';
    color: #dd4b58;
}

div.product .summary .yith-wcwl-add-to-wishlist + .clear,
.yith-wcwl-add-to-wishlist .feedback {
    display: none;
}


/* Products List View */

.woocommerce .products.list-products .product {
    max-width: 100%;
    flex: 100%;
    display: flex;
    padding: 0;
    border: 1px dashed #e3e3e3;
    -webkit-transition: box-shadow .4s ease;
    -moz-transition: box-shadow .4s ease;
    -ms-transition: box-shadow .4s ease;
    -o-transition: box-shadow .4s ease;
    transition: box-shadow .4s ease;
}

.woocommerce .products.list-products .product:hover {
    -webkit-box-shadow: 0 10px 30px rgba( 0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba( 0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba( 0, 0, 0, .1);
}

.woocommerce .products.list-products .product .product-thumb {
    flex: 2;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce .products.list-products .product .product-thumb img,
.woocommerce .products.list-products .product .product-thumb .button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.woocommerce .products.list-products .product .product-info {
    flex: 3;
    padding: 30px;
    text-align: left;
}

.woocommerce .products.list-products .product .product-title {
    font-size: 1.5em;
}

.woocommerce .products.list-products .product .product-info .short-description {
    display: block !important;
    margin-top: 30px;
}

.woocommerce .products.list-products .product .product-info .star-rating {
    margin: 5px 0;
}


/* Wishlist Message */

#yith-wcwl-popup-message {
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 9999;
    min-height: 50px;
    height: 50px;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 70px;
    padding-right: 50px;
    text-align: center;
    line-height: 1;
    border: none;
    color: #fff;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    animation: show_message .3s ease .5s both;
    -webkit-animation: show_message .3s ease .5s both;
}

#yith-wcwl-popup-message div {
    margin: 0 auto;
}

#yith-wcwl-popup-message div:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    margin-right: 5px;
    position: relative;
    color: #fff;
}

@keyframes show_message {
    from {
        opacity: 0;
        visibility: hidden;
        margin-bottom: -50px;
    }
    to {
        opacity: 1;
        visibility: visible;
        margin-bottom: 0;
    }
}

@-webkit-keyframes show_message {
    from {
        opacity: 0;
        visibility: hidden;
        margin-bottom: -50px;
    }
    to {
        opacity: 1;
        visibility: visible;
        margin-bottom: 0;
    }
}

@-webkit-keyframes show_message {
    from {
        opacity: 0;
        visibility: hidden;
        margin-bottom: -50px;
    }
    to {
        opacity: 1;
        visibility: visible;
        margin-bottom: 0;
    }
}


/* Add to Cart Notification */

.added-to-cart-notification {
    position: fixed;
    display: block;
    background: #fff;
    width: 300px;
    min-height: 100px;
    max-height: 100px;
    margin: 0;
    padding: 0;
    bottom: 20px;
    left: 100%;
    z-index: 9999;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    overflow: hidden;
    -webkit-animation: slide-in, slide-out;
    animation: slide-in, slide-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .5s, 3s;
    animation-delay: .5s, 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    cursor: pointer;
}

.added-to-cart-notification .product_message_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.added-to-cart-notification .product_message_wrapper .product_message_image {
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    width: 100px;
}

.added-to-cart-notification .product_message_wrapper .product_notification_text {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    text-align: center;
    align-self: center;
    font-size: 14px;
}

.added-to-cart-notification .product_message_wrapper .product_notification_text a {
    font-weight: bold;
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    50% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    75% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}

@keyframes slide-out {
    0% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    50% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    75% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
}

@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    50% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    75% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    50% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    75% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    100% {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
}

/* Quick view*/

.quick-view-wrapper .mfp-content {
    max-width: 920px;
    margin: 25px auto;
}

.quick-view-popup {
    background-color: #fff;
}

.quick-view-popup .mfp-close:before {
    content: "\e082";
    font-family: 'simple-line-icons';
    color: #252525;
    opacity: .5;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.quick-view-popup .mfp-close:hover:before {
    opacity: 1;
}

.quick-view-popup .mfp-preloader {
    font-size: 26px;
    color: #fff;
}

.quick-view-popup .product-image .images-slider-wrapper,
.quick-view-popup .product-image .images-slider-wrapper .image-items,
.quick-view-popup .product-image .images-slider-wrapper .image-items .owl-stage-outer,
.quick-view-popup .product-image .images-slider-wrapper .image-items .owl-stage,
.quick-view-popup .product-image .images-slider-wrapper .image-items .owl-item,
.quick-view-popup .product-image .images-slider-wrapper .image-items .owl-item figure,
.quick-view-popup .product-image .images-slider-wrapper .image-items figure {
    position: relative;
    height: 100%;
}

.quick-view-popup .product-image .images-slider-wrapper {
    overflow: hidden;
}

.quick-view-popup .product-image .images-slider-wrapper .image-items .owl-item figure,
.quick-view-popup .product-image .images-slider-wrapper .image-items figure {
    margin: 0;
}

.quick-view-popup .product-image .images-slider-wrapper .image-items .owl-item figure img,
.quick-view-popup .product-image .images-slider-wrapper .image-items figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quick-view-popup .product-summary .entry-summary {
    position: relative;
    padding: 40px;
    overflow: auto;
    margin-bottom: 0;
    height: 100%;
}

.quick-view-popup .product-summary .product-title {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 2px;
}

.quick-view-popup .product-summary .product-title a {
    color: inherit;
}

.quick-view-popup .product-summary .woocommerce-product-rating {
    margin-bottom: 0 !important;
}

.quick-view-popup .product-summary .price {
    margin-top: 10px;
    margin-bottom: 25px;
}

.quick-view-popup .product-summary .price ins {
    text-decoration: none;
    padding-left: 5px;
}

.quick-view-popup .product-summary form.cart {
    margin-top: 20px;
    margin-bottom: 0 !important;
}

.quick-view-popup .product-summary .yith-wcwl-add-to-wishlist {
    margin-top: 20px;
}


.quick-view-popup .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    margin-top: -20px;
}

.quick-view-popup .owl-carousel .owl-nav button.owl-prev,
.quick-view-popup .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.quick-view-popup .owl-carousel .owl-nav button.owl-prev {
    right: auto;
    left: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
}

.quick-view-popup .owl-carousel .owl-nav button.owl-next {
    right: 0;
    left: auto;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
}

.quick-view-popup .owl-carousel.image-items:hover .owl-nav > button.owl-prev {
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
    transform: translateX(15px);
}

.quick-view-popup .owl-carousel.image-items:hover .owl-nav > button.owl-next {
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px);
}

.quick-view-popup .owl-carousel .owl-nav button.owl-prev:before,
.quick-view-popup .owl-carousel .owl-nav button.owl-next:before {
    font-size: 40px;
}


/* ----------------------------------------------------------------------------
    3. SINGLE SHOP PRODUCT PAGE
---------------------------------------------------------------------------- */

/***** Product Thumbnails *****/

.woocommerce div.product .woocommerce-product-gallery {
    padding-left: 130px;
    width: 95% !important;
}

.woocommerce div.product .product-images-content {
    display: flex;
    position: relative;
    margin: 0;
}

.woocommerce div.product .product-images-content figure#product-images {
    overflow: hidden;
}

.woocommerce div.product .product-images-content .photoswipe {
    display: block;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper .zoomImg {
    background: none;
}

.woocommerce div.product .cocoon-product-images .slick-arrow {
    position: absolute;
    top: 50%;
    left: -20px;
    z-index: 99;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.woocommerce div.product .cocoon-product-images .slick-arrow {
    opacity: 0;
    font-size: 24px;
    z-index: 99;
    cursor: pointer;
    font-weight: 700;
    color: #999;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.woocommerce div.product .cocoon-product-images:hover .slick-arrow {
    opacity: 1;
}

.woocommerce div.product .cocoon-product-images .slick-arrow:hover {
    color: #252525;
}

.woocommerce div.product .cocoon-product-images .slick-prev-arrow {
    left: -20px;
}

.woocommerce div.product .cocoon-product-images:hover .slick-prev-arrow {
    left: 20px;
}

.woocommerce div.product .cocoon-product-images .slick-next-arrow {
    right: -20px;
    left: auto;
}

.woocommerce div.product .cocoon-product-images:hover .slick-next-arrow {
    right: 20px;
}

.woocommerce div.product .cocoon-product-images .slick-arrow.slick-disabled {
    color: #ccc;
    cursor: auto;
}

.woocommerce div.product .product-images-content a.popup-video {
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.woocommerce div.product .product-images-content a.popup-video .play-video {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.woocommerce div.product .product-images-content a.popup-video .play-video span {
    line-height: 50px;
}

/* Thumbnail Slider */

.woocommerce div.product .product-thumbnails {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
}

.woocommerce div.product .product-thumbnails .thumbnails .slick-slide {
    width: 100%;
    float: none;
    padding: 10px 0;
    border: none;
    opacity: .5;
    cursor: pointer;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.woocommerce div.product .product-thumbnails .thumbnails .slick-slide.slick-current {
    opacity: 1;
}

.woocommerce div.product .product-thumbnails .thumbnails .slick-slide:first-child {
    padding-top: 0;
}

.woocommerce div.product .product-thumbnails .slick-prev-arrow,
.woocommerce div.product .product-thumbnails .slick-next-arrow {
    cursor: pointer;
    width: 100%;
    display: block !important;
    text-align: center;
    background: #f0f0f0;
    line-height: 30px;
}

.woocommerce div.product .product-thumbnails .slick-prev-arrow {
    margin-bottom: 15px;
}

.woocommerce div.product .product-thumbnails .slick-next-arrow {
    margin-top: 15px;
}

/***** Product Details *****/

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    width: 100%;
}

.woocommerce div.product .cocoon-single-product-detail .summary {
    margin: 0;
}

.woocommerce div.product .cocoon-single-product-detail .product_title {
    font-size: 24px;
    margin: 0;
}

.woocommerce div.product .cocoon-single-product-detail .woocommerce-product-rating {
    margin: 0;
}

.woocommerce div.product .cocoon-single-product-detail .price {
    margin-top: 10px;
    margin-bottom: 30px;
}

.woocommerce div.product .cocoon-single-product-detail .price ins {
    text-decoration: none;
    padding-left: 5px;
}

.woocommerce div.product p.stock {
    font-size: 14px;
    color: #252525;
}

.woocommerce div.product p.stock.in-stock span {
    color: #9dc24a;
}

.woocommerce div.product p.stock.out-of-stock span {
    color: #dd4b58;
}

.woocommerce div.product form.cart .reset_variations {
    color: #da4a57;
    text-decoration: underline;
}

.woocommerce div.product .product-share a.btn.social-share-btn {
    min-width: 40px !important;
    max-width: 40px;
    padding: 0 !important;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* Grouped Product */

.woocommerce div.product form.grouped_form table {
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
}

.woocommerce div.product form.grouped_form table thead {
    background: #f6f6f6;
}

.woocommerce div.product form.grouped_form table thead th {
    border: 0;
    color: #252525;
    font-weight: 500;
    padding: 10px 15px;
}

.woocommerce div.product form.grouped_form table tbody tr {
    width: 100%;
    padding: 0;
}

.woocommerce div.product form.grouped_form table tbody td {
    padding: 20px 10px !important;
    vertical-align: middle !important;
    */
}

.woocommerce div.product form.grouped_form table tbody td label {
    margin: 0;
}

/* Wishlist */

.woocommerce div.product .entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a:before,
.woocommerce div.product .entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.woocommerce div.product .entry-summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before {
    font-family: "FontAweSome";
    content: "\f004";
    line-height: 1;
    padding-right: 5px;
}


/* Product Meta */

.woocommerce div.product .product-meta {
    border-top: 1px solid #e3e3e3;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 14px;
}

.woocommerce div.product .product-meta span.sku,
.woocommerce div.product .product-meta span.cat-links,
.woocommerce div.product .product-meta span.tag-links {
    padding-left: 10px;
}


/****** Tabs Section ******/

.woocommerce div.product .woocommerce-tabs,
.woocommerce div.product section.up-sells.upsells.products,
.woocommerce div.product section.related.products {
    margin-top: 100px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    text-align: center;
    margin-bottom: 50px;
    padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    padding: 0 15px;
    border: none;
    background-color: transparent;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    color: #948a99;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
    display: none;
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0;
    padding: 0;
}

.woocommerce div.product .woocommerce-tabs .panel:after {
    display: block;
    content: "";
    clear: both;
}

.woocommerce div.product .woocommerce-tabs .panel.woocommerce-Tabs-panel--description > h2,
.woocommerce div.product .woocommerce-tabs .panel.woocommerce-Tabs-panel--additional_information > h2 {
    display: none;
}

.woocommerce div.product .woocommerce-tabs .panel table {
    width: 100%;
    margin: 0;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
}

.woocommerce div.product .woocommerce-tabs .panel table th,
.woocommerce div.product .woocommerce-tabs .panel table td {
    padding: 15px 20px;
    border: none;
}

.woocommerce div.product .woocommerce-tabs .panel table th {
    border-bottom: none;
    font-weight: 600;
    color: #252525;
    text-transform: uppercase;
}

.woocommerce div.product .woocommerce-tabs .panel table p {
    padding: 0;
}

/* Reviews */

.woocommerce #reviews #comments .woocommerce-Reviews-title {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 50px 0;
}

.woocommerce #reviews #comments ol.commentlist {
    list-style: none;
    padding: 0;
    margin: 30px 30px 0 0;
}

.woocommerce #reviews #comments ol.commentlist li {
    padding: 0;
    margin: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment_container {
    border: 1px dashed #e3e3e3;
    padding: 30px;
    margin-bottom: 30px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
    position: relative;
    width: 60px;
    border: none;
    padding: 0;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 100px;
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .star-rating {
    float: none;
    margin-bottom: 5px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin: 0 0 1em;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 13px;
    color: #999;
    margin-bottom: 10px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong {
    font-weight: 600;
    color: #252525;
    font-size: 14px;
}

.woocommerce #review_form_wrapper {
    margin-top: 30px;
}

.woocommerce #review_form #respond .comment-reply-title {
    font-size: 24px;
    color: #252525;
}

.woocommerce #review_form #respond .comment-form {
    margin: 20px 0 0 0;
}


.woocommerce #review_form #respond .comment-form-rating .stars a {
    color: #ffc741;
    font-size: 16px;
    margin-right: 5px;
}

.woocommerce #review_form #respond .required {
    color: #cc0000;
}

.woocommerce #review_form #respond .form-submit {
    margin-top: 10px;
}

.woocommerce #review_form #respond .form-submit input {
    left: auto;
    padding: 0 40px;
}

.woocommerce #review_form #respond .col-12,
.woocommerce #review_form #respond .comment-form-rating,
.woocommerce #review_form #respond .comment-form-comment {
    padding: 0;
}

.woocommerce #review_form #respond .comment-form-author,
.woocommerce #review_form #respond .comment-form-email {
    width: 50%;
    float: left;
    padding-right: 15px;
}

.woocommerce #review_form #respond .comment-form-email {
    padding-left: 15px;
    padding-right: 0;
}

.woocommerce #review_form #respond .comment-form-comment {
    width: 100%;
}

.woocommerce #respond input#submit {
    font-weight: 400;
    padding: 15px 25px;
}

.woocommerce #respond input#submit,
.woocommerce #respond input#submit:hover {
    color: #fff;
}

.woocommerce #respond input#submit:hover {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

/* Up-sells & Related Products */

.woocommerce div.product section.up-sells.upsells.products,
.woocommerce div.product section.related.products {
    display: block;
}

.woocommerce div.product .upsells.products > h2,
.woocommerce div.product .related.products > h2 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.woocommerce div.product section.up-sells.upsells.products .product,
.woocommerce div.product section.related.products .product {
    width: 100%;
    max-width: 100%;
    margin: 0;
}


.woocommerce div.product section.up-sells.upsells.products .owl-dots,
.woocommerce div.product section.related.products .owl-dots {
    width: 100%;
}

/* Product Navigation */

.cocoon-product-nav > a {
    position: fixed;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 99;
    display: inline-block;
    text-align: center;
    background-color: #f0f0f0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cocoon-product-nav > a:before {
    font-family: 'simple-line-icons';
}

.cocoon-product-nav > a.prev {
    left: 0;
}

.cocoon-product-nav > a.prev:before {
    content: '\e605';
}

.cocoon-product-nav > a.prev .nav-product {
    left: 0;
    right: auto;
}

.cocoon-product-nav > a.next {
    right: 0;
}

.cocoon-product-nav > a.next:before {
    content: '\e606';
}

.cocoon-product-nav > a.next .nav-product {
    right: 0;
}

.cocoon-product-nav a .nav-product {
    position: absolute;
    display: flex;
    width: 280px;
    bottom: -20px;
    line-height: 20px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background: #fff;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.cocoon-product-nav a.prev .nav-product {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
}

.cocoon-product-nav a.next .nav-product {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
}

.cocoon-product-nav a:hover .nav-product {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.cocoon-product-nav a .nav-product .product-image {
    flex: 1;
}

.cocoon-product-nav a .nav-product .product-description {
    flex: 2;
    padding: 0 5px;
}

.cocoon-product-nav a .nav-product .product-description .product-title {
    display: block;
    width: 100%;
    padding-top: 15px;
    font-size: 16px;
    color: #252525;
}


/* ----------------------------------------------------------------------------
    4. WIDGETS
---------------------------------------------------------------------------- */

.woocommerce .star-rating {
    font-size: 12px;
}

.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
    padding: 0;
    margin-bottom: 15px;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
    font-weight: normal;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
    width: 45px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 30px rgba( 0, 0, 0, .1);
    -moz-box-shadow: 0 5px 30px rgba( 0, 0, 0, .1);
    box-shadow: 0 5px 30px rgba( 0, 0, 0, .1);
}

/* Filter by Price */

.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: 5px;
    margin-bottom: 30px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    width: 14px;
    height: 14px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, .25);
}


/* ----------------------------------------------------------------------------
    5. CART
---------------------------------------------------------------------------- */

.woocommerce-cart .woocommerce .cart-title,
.woocommerce-cart .woocommerce .cross-sells h2 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 0;
}

.woocommerce-cart .woocommerce table.shop_table.cart {
    margin-bottom: 100px;
    border: 0;
}

.woocommerce-cart .woocommerce table.shop_table.cart tr th {
    background-color: #f6f6f6;
    border: 0;
    font-weight: 500;
    color: #252525;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px;
}

.woocommerce table.shop_table tr td.product-thumbnail,
.woocommerce table.shop_table tbody td.product-thumbnail,
.woocommerce table.shop_table tr td.product-price,
.woocommerce table.shop_table tbody td.product-price,
.woocommerce table.shop_table tr td.product-quantity,
.woocommerce table.shop_table tbody td.product-quantity,
.woocommerce table.shop_table tr td.product-subtotal,
.woocommerce table.shop_table tbody td.product-subtotal {
    width: 150px;
}

.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
}

.woocommerce table.shop_table tr td.product-name a,
.woocommerce table.shop_table tbody td.product-name a {
    color: #252525
}

.woocommerce table.shop_table tr td.product-name .mobile-cart-thumb,
.woocommerce table.shop_table tr td.product-name .mobile-cart-price {
    display: none;
}

.woocommerce table.shop_table tr td.product-remove,
.woocommerce table.shop_table tbody td.product-remove {
    width: 70px;
}

.woocommerce table.shop_table tr td.product-remove .remove,
.woocommerce table.shop_table tbody td.product-remove .remove {
    color: #252525 !important;
    background-color: transparent;
    opacity: .5;
}

.woocommerce table.shop_table tr td.product-remove .remove:hover,
.woocommerce table.shop_table tbody td.product-remove .remove:hover {
    opacity: 1;
}

.woocommerce-cart .woocommerce table.cart td.actions,
.woocommerce-cart .woocommerce table.checkout td.actions {
    padding: 50px 0 0 0;
    border-bottom: 0;
    text-align: unset !important;
    clear: both;
}

.woocommerce-cart .woocommerce table.cart td.actions button,
.woocommerce-cart .woocommerce table.checkout td.actions button {
    float: right;
}

.woocommerce-cart .woocommerce .coupon {
    margin-bottom: -100%;
}

.woocommerce .cart-collaterals .hidden-col,
.woocommerce-page .cart-collaterals .hidden-col {
    visibility: hidden;
}

/* Cross Sell */
.woocommerce-cart .woocommerce .cross-sells {
    padding-bottom: 100px;
}

.woocommerce-cart .woocommerce .cross-sells .product {
    max-width: 100%;
    flex: 100%;
    margin-bottom: 0;
}

.woocommerce-cart .woocommerce .cross-sells .owl-dots {
    width: 100%;
}

/* Shipping Calculator */

.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator label,
.woocommerce-cart .woocommerce .coupon label {
    display: block;
    font-size: 20px;
    color: #252525;
    position: relative;
    margin-bottom: 30px;
}

.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-form {
    display: block !important;
}

.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator .input-text,
.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator select {
    width: 100%;
    margin-bottom: 10px;
}

.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-form p {
    margin: 0;
}

.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-form #calc_shipping_country_field,
.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-form #calc_shipping_state_field {
    margin-bottom: 10px;
}

.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-form #calc_shipping_state_field > span {
    width: 100%;
}

.woocommerce-cart .woocommerce .cart-collaterals .woocommerce-shipping-calculator .shipping-calculator-form #calc_shipping_state_field input {
    margin: 0;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals > h2 {
    display: none;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table {
    border: 1px solid #e3e3e3;
    background-color: #f6f6f6;
    padding: 0 30px;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 5px 35px rgba(0, 0, 0, .08);
    box-shadow: 0 5px 35px rgba(0, 0, 0, .08);
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table th {
    background-color: transparent;
    color: #252525;
    font-weight: 500;
    padding: 20px 0;
    border-top: 0;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table td {
    text-align: right;
    padding: 20px 0;
    border-top: 0;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals form.woocommerce-shipping-calculator {
    display: none;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table .shipping td {
    text-align: left;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table .shipping td ul#shipping_method {
    text-align: left;
}

.woocommerce #shipping_method li label {
    font-size: 14px;
    padding-left: 5px;
    cursor: pointer;
    color: #948a99;
}

.woocommerce #shipping_method li .woocommerce-Price-amount {
    float: right;
    font-weight: 500;
    text-align: right;
    color: #252525;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals table.shop_table .order-total strong {
    font-size: 24px;
    font-weight: 500;
}

.woocommerce-cart .wc-proceed-to-checkout {
    padding: 0;
    margin-top: 25px;
}

.woocommerce-cart .wc-proceed-to-checkout .btn {
    width: 100%;
}


/***** Cart Canvas *****/

.cocoon-off-canvas-panel ul.cart_list li {
    position: relative;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #e3e3e3;
}

.cocoon-off-canvas-panel ul.cart_list li .remove {
    position: absolute;
    top: 35px;
    left: 0;
    padding: 0;
    color: #999 !important;
}

.cocoon-off-canvas-panel ul.cart_list li .remove:hover {
    color: #db4a57 !important;
    background: none;
}

.cocoon-off-canvas-panel ul.cart_list li a,
.cocoon-off-canvas-panel ul.cart_list li .quantity {
    padding-left: 40px;
}

.cocoon-off-canvas-panel ul.cart_list li dl.variation {
    padding-left: 40px;
    border: 0;
}

.cocoon-off-canvas-panel ul.cart_list li dl.variation dd {
    margin: 0;
}

.cocoon-off-canvas-panel ul.cart_list li img {
    width: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.cocoon-off-canvas-panel .total {
    padding: 50px 0;
    margin: 0;
    overflow: hidden;
    clear: both;
    font-size: 18px;
    line-height: 1;
    clear: both;
}

.cocoon-off-canvas-panel .total strong {
    color: #252525;
    font-weight: 500;
}

.cocoon-off-canvas-panel .total .amount {
    float: right;
}

.cocoon-off-canvas-panel .buttons {
    margin-bottom: 50px;
}

.cocoon-off-canvas-panel .buttons a {
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding: 20px;
}

.cocoon-off-canvas-panel .buttons a:first-child {
    margin-bottom: 15px;
}

.cocoon-off-canvas-panel .buttons a:hover {
    color: #fff;
    -webkit-transform: translate3d(0, -3px, 0);
    -moz-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}


/* ----------------------------------------------------------------------------
    6. CHECKOUT
---------------------------------------------------------------------------- */

.woocommerce-checkout form.checkout h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 500;
}

.woocommerce-checkout form.checkout .form-row {
    width: 100%;
    padding: 0;
    margin: 0 0 10px 0;
}

.woocommerce-checkout form.checkout .form-row label,
.woocommerce-checkout form.checkout .form-row > span {
    width: 100%;
}

.woocommerce-checkout form.checkout .woocommerce-shipping-fields {
    margin-top: 50px;
}

/* Info Box */

.woocommerce-checkout .woocommerce-info {
    border: 1px solid #e3e3e3;
    background-color: #f6f6f6;
    padding: 20px 20px 20px 60px !important;
}

.woocommerce-checkout .woocommerce-info:before {
    content: "\e08b";
    font-family: "Simple-line-icons";
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 20px;
    color: #999;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ----------------------------------------------------------------------------
    7. THANK YOU PAGE
---------------------------------------------------------------------------- */

.woocommerce .woocommerce-order ul.order_details {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px dashed #e3e3e3;
    background: #fbfbfb;
}

.woocommerce .woocommerce-order h2,
.woocommerce .woocommerce-order-details h2,
.woocommerce .woocommerce-customer-details h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
}

.woocommerce .woocommerce-order-details .woocommerce-table {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.woocommerce .woocommerce-order .woocommerce-table {
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.woocommerce .woocommerce-order .woocommerce-table tfoot tr td {
    border-bottom: 1px solid #e3e3e3;
}

.woocommerce .woocommerce-order .woocommerce-table tfoot tr:last-child th,
.woocommerce .woocommerce-order .woocommerce-table tfoot tr:last-child td {
    border: 0;
}

.woocommerce .woocommerce-order .woocommerce-customer-details,
.woocommerce .woocommerce-customer-details {
    margin-top: 50px;
    margin-bottom: 0;
}

.woocommerce .woocommerce-customer-details address {
    padding: 20px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}



/* ----------------------------------------------------------------------------
    8. MY ACCOUNT
---------------------------------------------------------------------------- */

.woocommerce-account .woocommerce-MyAccount-navigation .woocommerce-MyAccount-avatar {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.woocommerce-account .woocommerce-MyAccount-avatar img {
    margin: 0 auto;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 25%;
    text-align: center;
    padding: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
    width: 100%;
    padding: 0;
    background: #fbfbfb;
    border: 1px solid #e3e3e3;
    display: inline-block;
    position: relative;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
    display: block;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid #e3e3e3;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li:last-child {
    border: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li:hover {
    background: #e3e3e3;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
    color: #252525;
    display: block;
    padding: 10px 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    width: 70%;
}

.woocommerce-account .woocommerce-MyAccount-content form.edit-account fieldset h4 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e3e3e3;
}

label.woocommerce-form__label-for-checkbox {
    display: block !important;
}

label.woocommerce-form__label-for-checkbox input {
    position: static !important;
}

.woocommerce-MyAccount-content h3 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
}

.woocommerce-MyAccount-content .woocommerce-address-fields__field-wrapper p,
.woocommerce-MyAccount-content .woocommerce-address-fields__field-wrapper span,
.woocommerce-MyAccount-content .woocommerce-address-fields__field-wrapper label {
    width: 100%;
}

.woocommerce-MyAccount-content .edit-account em {
    font-size: .9em;
}

.woocommerce-MyAccount-content .edit-account fieldset {
    margin-top: 50px;
}

.woocommerce-MyAccount-content .edit-account fieldset legend {
    color: #252525;
}

/* Account Tabs */

.cocoon-account-tabs .nav-pills .nav-item {
    margin: 0 5px;
}

.cocoon-account-tabs .nav-pills .nav-link {
    color: inherit;
    padding: 5px 25px;
    font-size: 18px;
}

.cocoon-account-tabs .nav-pills .nav-link.active {
    color: #fff;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .05);
}

/* My Account Popup */

.login-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.login-modal.show {
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.login-modal a.close-modal {
    position: absolute;
    top: 30px;
    right: 30px;
    line-height: 1;
    font-size: 26px;
    color: #1f1f1f;
    opacity: .4;
}

.login-modal a.close-modal:hover {
    opacity: 1;
}

.login-modal h5 {
    position: absolute;
    margin: 0;
    top: 30px;
    left: 30px;
    opacity: 0;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

.login-modal.show h5 {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.login-modal .woocommerce {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-modal .woocommerce-error {
    max-width: 600px;
    margin: 0 auto 30px auto;
    padding: 20px 50px;
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

.login-modal.show .woocommerce-error {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.login-modal .cocoon-account-tabs {
    max-width: 500px;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

.login-modal.show .cocoon-account-tabs {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}


/* ----------------------------------------------------------------------------
    9. WISHLIST PAGE
---------------------------------------------------------------------------- */

.woocommerce table.wishlist_table {
    font-size: 100%;
    opacity: 1 !important;
    border: 0;
}

.woocommerce table.wishlist_table thead th {
    border: 0;
    font-weight: 500;
    color: #252525;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px;
}

.woocommerce table.wishlist_table tr td.product-remove .remove {
    color: #999 !important;
    background-color: transparent;
    position: relative;
    font-size: 0;
}

.woocommerce table.wishlist_table tr td.product-remove .remove:before {
    content: "\e082";
    font-family: 'simple-line-icons';
    font-size: 22px;
    font-weight: 400;
    color: #252525;
}

.woocommerce table.wishlist_table .product-add-to-cart a {
    margin: 0;
    font-weight: 400;
    padding: 15px 0px;
}


.woocommerce form#yith-wcwl-form .wishlist-title {
    display: none;
}

.woocommerce table.wishlist_table tfoot td {
    border: 0;
    padding-bottom: 0;
}

.woocommerce table.wishlist_table .yith-wcwl-share {
    margin: 0;
}

/* Order Table */

.woocommerce-checkout table.shop_table {
    padding: 0 30px;
    border: 1px solid #e3e3e3;
    border-bottom: none;
    background-color: #f6f6f6;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.woocommerce-checkout table.shop_table tr th {
    border: 0;
    font-weight: 500;
    color: #252525;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px 0;
}

.woocommerce-checkout table.shop_table th:last-child {
    text-align: right;
}

.woocommerce-checkout table.shop_table tr td {
    border: 0;
    padding: 8px 0;
}

.woocommerce-checkout table.shop_table tr:first-child td {
    padding-top: 15px;
}

.woocommerce-checkout table.shop_table td:last-child {
    text-align: right;
}

.woocommerce-checkout table.shop_table tr.cart-subtotal td,
.woocommerce-checkout table.shop_table tr.shipping td,
.woocommerce-checkout table.shop_table tr.order-total td,
.woocommerce-checkout table.shop_table tr.cart-discount td {
    border-bottom: 1px solid #e3e3e3;
}

.woocommerce-checkout table.shop_table tr.shipping ul#shipping_method li {
    text-align: left;
}

.woocommerce-checkout table.shop_table tr.order-total td span {
    font-size: 28px;
}

.woocommerce-checkout table.shop_table tr.cart-discount td .woocommerce-remove-coupon {
    font-weight: 500;
}

.woocommerce-checkout #payment {
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.woocommerce-checkout #payment ul {
    background: #f6f6f6;
    border-top: 0;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3 !important;
    border-left: 1px solid #e3e3e3;
}

.woocommerce-checkout #payment ul li label {
    font-size: 14px;
    color: #252525;
}

.woocommerce-checkout #payment div.payment_box {
    background-color: transparent;
    color: inherit;
    margin: 0;
}

.woocommerce-checkout #payment div.payment_box:before {
    display: none;
}

.woocommerce-checkout #payment div.form-row {
    padding: 0;
    margin-top: 30px;
}

/* ----------------------------------------------------------------------------
    10. RESPONSIVE
---------------------------------------------------------------------------- */

@media all and (min-width: 768px) and (max-width: 1200px) {
    /**************** 
		SINGLE PRODUCT
	****************/
    .woocommerce div.product .cocoon-single-product-detail .quantity {
        margin-bottom: 15px !important;
    }
}

@media (max-width: 991px) {
    /**************** 
		SHOP
	****************/
    .woocommerce .archive-loop-header nav.grid_list_nav {
        display: none;
    }
    /**************** 
		SINGLE PRODUCT
	****************/
    .woocommerce div.product .product-thumbnails {
        display: none;
    }
    .woocommerce div.product .woocommerce-product-gallery {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    /**************** 
		CART
	****************/
    .woocommerce table.shop_table_responsive thead,
    .woocommerce-page table.shop_table_responsive thead {
        display: table-header-group;
        background: #f6f6f6;
    }
    .woocommerce table.shop_table_responsive thead > tr,
    .woocommerce-page table.shop_table_responsive thead > tr {
        display: table-row;
    }
    .woocommerce table.shop_table tr td,
    .woocommerce table.shop_table tbody td {
        display: table-cell !important;
    }
    .woocommerce table.shop_table_responsive tr,
    .woocommerce-page table.shop_table_responsive tr {
        display: table-row;
    }
    .woocommerce table.shop_table tr .product-price,
    .woocommerce table.shop_table tr .product-subtotal,
    .woocommerce table.shop_table tr .product-thumbnail {
        display: none !important;
    }
    .woocommerce table.shop_table tr td.product-name,
    .woocommerce table.shop_table tbody td.product-name {
        min-width: auto;
        text-align: left !important;
    }
    .woocommerce table.shop_table_responsive tr td::before,
    .woocommerce-page table.shop_table_responsive tr td::before {
        display: none;
    }
    .woocommerce table.shop_table tr td.product-name .mobile-cart-thumb,
    .woocommerce table.shop_table tr td.product-name .mobile-cart-price {
        display: block;
    }
    .woocommerce table.shop_table tr td.product-name .mobile-cart-thumb {
        margin-bottom: 20px;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background: none;
    }
    .woocommerce table.shop_table_responsive tbody th,
    .woocommerce-page table.shop_table_responsive tbody th {
        display: block;
    }
    /**************** 
		MY ACCOUNT
	****************/
    .woocommerce-account .woocommerce-MyAccount-content,
    .woocommerce-account .woocommerce-MyAccount-navigation {
        float: none;
        width: 100%;
    }
    .woocommerce-account .woocommerce-MyAccount-content {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    /**************** 
		CART
	****************/
    .woocommerce-cart .woocommerce .coupon,
    .woocommerce-cart .woocommerce .woocommerce-shipping-calculator {
        margin-bottom: 50px;
    }
    /**************** 
		CHECKOUT
	****************/
    .woocommerce-checkout #order-review {
        margin-top: 50px;
    }
    /**************** 
		THANKYOU PAGE
	****************/
    .woocommerce .woocommerce-order .woocommerce-customer-details .woocommerce-column--billing-address,
    .woocommerce .woocommerce-customer-details .woocommerce-column--billing-address {
        margin-bottom: 50px;
    }
    .woocommerce ul.order_details li {
        width: 100%;
        padding: 0;
        margin: 0 0 20px 0;
        border: 0;
    }
    .woocommerce ul.order_details li:last-child {
        margin: 0
    }
    /**************** 
		SINGLE PRODUCT
	****************/
    .cocoon-product-nav {
        display: none;
    }
    .woocommerce div.product .woocommerce-product-gallery {
        width: 100% !important;
    }
    .woocommerce div.product .product-images-content a.popup-video {
        display: none;
    }
}


@media (max-width: 480px) {
    /**************** 
		SHOP
	****************/
    .woocommerce .woocommerce-result-count,
    .woocommerce .woocommerce-ordering {
        width: 100%;
    }
    /**************** 
		CART
	****************/
    .woocommerce table.shop_table tr td .quantity .decrease,
    .woocommerce table.shop_table tbody td .quantity .decrease,
    .woocommerce table.shop_table tr td .quantity .increase,
    .woocommerce table.shop_table tbody td .quantity .increase {
        display: none !important;
    }
    .woocommerce div.product form.cart div.quantity,
    .woocommerce table.shop_table tbody td.product-quantity .quantity {
        padding: 0;
        margin: 0;
    }
    /**************** 
		WISHLIST
	****************/
    .woocommerce table.wishlist_table .product-add-to-cart {
        width: 130px;
    }
    /**************** 
		MY ACCOUNT
	****************/
    .woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address:first-child {
        margin-bottom: 50px;
    }
    .login-modal .cocoon-account-tabs {
        max-width: 85%;
    }
    /**************** 
		SINGLE PRODUCT
	****************/
    .cocoon-single-product-detail .quantity {
        margin: 0 20px 10px 0 !important;
        padding: 0 30px !important;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding-top: 5px;
        width: 100%;
    }
    .woocommerce #review_form #respond .comment-form-author,
    .woocommerce #review_form #respond .comment-form-email {
        width: 100%;
        padding: 0;
    }
}

@media all and (max-width: 350px) {
    /**************** 
		CART
	****************/
    .woocommerce-cart .woocommerce table.cart td.actions a {
        margin-bottom: 20px;
    }
    .woocommerce-cart .woocommerce table.cart td.actions a,
    .woocommerce-cart .woocommerce table.cart td.actions button,
    .woocommerce-cart .woocommerce table.checkout td.actions button {
        width: 100%;
    }

}